.sk-close {
    -webkit-transform: translateY(90%) !important;
    transform: translateY(90%) !important;
    -webkit-animation: sk-appear-frames .4s cubic-bezier(.62,.28,.23,.99) !important;
    animation: sk-appear-frames .4s cubic-bezier(.62,.28,.23,.99) !important;
    -webkit-animation-fill-mode: forwards !important;
    animation-fill-mode: forwards !important;
    -webkit-animation-delay: 0s !important;
    animation-delay: 0s !important;
}
#sk-handle {
    display: none !important;
}
#sk-container {
    position: relative !important;
    right: auto !important;
    margin-bottom: 0 !important;
    margin: auto !important;
    height: 422px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    margin-bottom: 30px !important;
    border: none !important;
    border-radius: 3px !important;
    overflow: hidden !important;
    display: none;
}
#sk-container #sk-wrapper {
    height: 422px !important;
}
#sk-container #sk-conversation:not(:root) {
    margin-right: 0 !important
}
#sk-container #sk-badge {
    left: auto !important;
    top: 16px !important;
    right: 16px !important;
    font-family: "Roboto", sans-serif !important;
}
#sk-container #sk-header {
    text-align: left !important;
    color: #000 !important;
    text-decoration: none !important;
    font-size: 16px !important;
    text-transform: capitalize !important;
    font-weight: 500 !important;
    font-family: "Roboto", sans-serif !important;
    box-shadow:none !important;
    background-color: #fff !important;
    border-bottom: 1px solid #B6B6B6 !important;
    line-height: 50px !important;
    height: 50px !important;
    padding: 0 16px !important;
    cursor: default !important;
}
#sk-container #sk-footer {
    box-shadow: none !important;
    border-top: 1px solid #B6B6B6 !important;
}
#sk-container .sk-right-row .sk-msg {
    font-family: "Roboto", sans-serif !important;
}
.sk-noselect:after {
    content: "Send Us Feedback";
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 16px !important;
    padding: 0 16px;
    font-family: "Roboto", sans-serif !important;
    background: white
}
.sk-intro {
    display: block !important;
    position: relative !important;
}
.sk-intro:after {
    content: "Tell us what you love, hate, or what we can improve! We'll try to reply in a timely fashion.";
    left: 0;
    top:0;
    height: 31px;
    width: 100%;
    position: absolute;
    color: #000;
    background: white
}
.feedback-trigger {
    padding: 16px 24px;
    position: absolute;
    width: 100%;
    cursor: pointer;
    bottom: 0;
}
.feedback-trigger span {
    font-size: 14px;
    color: #727272;
    font-weight: 500;
}
@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg) scale(1.12); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg) scale(1.04); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg) scale(1); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg) scale(1.02); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg) scale(1.03); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg) scale(1.06); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg) scale(1.12); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg) scale(1.01); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg) scale(1.13); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg) scale(1.02); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg) scale(1.05); }
}
.feedback-trigger:hover .hclogo-peak {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: .4s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.hclogo-peak {
    background: url('../images/hclogomini-black.png');
    position: absolute;
    width: 70px;
    height: 90px;
    top: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    right: -10px;
    opacity: .2;
}
.reduce-padding {
    padding-bottom: 16px;
}