.hovertoast-youtube-video-button * {
	-webkit-transform: translateZ(0) !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
	-o-box-sizing:border-box !important;
	box-sizing:border-box !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	font-size: 100% !important;
	font: inherit !important;
	text-align: left !important;
	overflow: hidden;
}
.hovertoast-youtube-video-button {
	z-index: 999 !important;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.hovertoast-youtube-video-button {
	padding: 0 20px 20px 0;
}
.hovertoast-youtube-video-button:hover {
	width: auto !important;
	height: auto !important;
}
.hovertoast-youtube-video-button-inner {
	height: 30px;
	width: 12px;
	-webkit-transition:width .5s, background-position .6s, background .5s;
	transition:width .5s, background-position .6s, background .5s;
	background: url("chrome-extension://__MSG_@@extension_id__/images/hovertoast-logo-white.png") 150px 50% / 80px no-repeat #F44336 !important;
}
.hovertoast-youtube-video-button-inner:hover {
	cursor: pointer;
}
.hovertoast-youtube-video-button:hover .hovertoast-youtube-video-button-inner {
	width: 100px;
	background-position: center !important;
}
.hovertoast-sidebar {
	position: fixed !important;
	width: 340px !important;
	height: 100% !important;
	top:0px !important;
	right: 0px !important;
	z-index: 999999999999999 !important;
	box-shadow:-1px 0px 2px 0px rgba(0, 0, 0, 0.25) !important;
	border-left: 1px solid rgba(0,0,0,.1) !important;
	display: none;
}
.hovertoast-sidebar iframe {
	position: absolute !important;
	height: 100% !important;
	border: none !important;
	width:100% !important;
	left: 0px !important
}
