.__MSG_@@extension_id__-hovercard {
	background: rgba(255,255,255,.96) !important;
	z-index: 2147483647 !important;
	border-radius: 8px !important;
	border-radius: 3px !important;
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	cursor: pointer !important;
	position: absolute !important;
}
.__MSG_@@extension_id__-hovercard iframe {
	height: 100% !important;
	width: 100% !important;
	border-radius: 3px !important
}
.__MSG_@@extension_id__-hovercard-from-top, .__MSG_@@extension_id__-hovercard-from-bottom {
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-transform:translate3d(0,0,0);
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.__MSG_@@extension_id__-hovercard-from-top {
	-webkit-animation-name: __MSG_@@extension_id__-hovercard-fade-down;
	animation-name: __MSG_@@extension_id__-hovercard-fade-down;
}
.__MSG_@@extension_id__-hovercard-from-bottom {
	-webkit-animation-name: __MSG_@@extension_id__-hovercard-fade-up;
	animation-name: __MSG_@@extension_id__-hovercard-fade-up;
}
@-webkit-keyframes __MSG_@@extension_id__-hovercard-fade-down {
	0% {
		opacity: 0;
		-webkit-transform:translate3d(0,0,0);
	}
	1% {
		opacity: 0;
		-webkit-transform:translate3d(0,-50px,0);
	}
	100% {
		opacity: 1;
		-webkit-transform:translate3d(0,0px,0);
	}
}
@keyframes __MSG_@@extension_id__-hovercard-fade-down {
	0% {
		opacity: 0;
		transform:translate3d(0,0,0);
	}
	1% {
		opacity: 0;
		transform:translate3d(0,-50px,0);
	}
	100% {
		opacity: 1;
		transform:translate3d(0,0px,0);
	}
}
@-webkit-keyframes __MSG_@@extension_id__-hovercard-fade-up {
	0% {
		opacity: 0;
		-webkit-transform:translate3d(0,0,0);
	}
	1% {
		opacity: 0;
		-webkit-transform:translate3d(0,50px,0);
	}
	100% {
		opacity: 1;
		-webkit-transform:translate3d(0,0px,0);
	}
}
@keyframes __MSG_@@extension_id__-hovercard-fade-up {
	0% {
		opacity: 0;
		transform:translate3d(0,0,0);
	}
	1% {
		opacity: 0;
		transform:translate3d(0,50px,0);
	}
	100% {
		opacity: 1;
		transform:translate3d(0,0px,0);
	}
}
.feedback-link {
	background: #eceef1 !important;
	position: absolute;
	-webkit-transform: translate(0,-100%);
	transform: translate(0,-100%);
	padding: 8px !important;
	line-height: 24px !important;
	display: block !important;
	width: 300px !important;
	box-sizing:border-box !important;
	border-radius: 3px 3px 0 0 !important;
	margin-top: 3px;
	height: 38px !important;
}
.feedback-link:hover img { -webkit-animation-name: shake-base; -ms-animation-name: shake-base; animation-name: shake-base; -webkit-animation-duration: 100ms; -ms-animation-duration: 100ms; animation-duration: 100ms; -webkit-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; -ms-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; -webkit-animation-delay: 0s; -ms-animation-delay: 0s; animation-delay: 0s; -webkit-animation-play-state: running; -ms-animation-play-state: running; animation-play-state: running; }
@-webkit-keyframes shake-base { 0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
  2% { -webkit-transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
  4% { -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
  6% { -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg); }
  8% { -webkit-transform: translate(-2.5px, -2.5px) rotate(-1.5deg); }
  10% { -webkit-transform: translate(1.5px, 1.5px) rotate(-1.5deg); }
  12% { -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg); }
  14% { -webkit-transform: translate(1.5px, -2.5px) rotate(-0.5deg); }
  16% { -webkit-transform: translate(0.5px, 1.5px) rotate(0.5deg); }
  18% { -webkit-transform: translate(-2.5px, -0.5px) rotate(0.5deg); }
  20% { -webkit-transform: translate(-0.5px, -0.5px) rotate(-1.5deg); }
  22% { -webkit-transform: translate(-2.5px, -1.5px) rotate(-1.5deg); }
  24% { -webkit-transform: translate(-1.5px, -2.5px) rotate(-1.5deg); }
  26% { -webkit-transform: translate(0.5px, -0.5px) rotate(-1.5deg); }
  28% { -webkit-transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  30% { -webkit-transform: translate(-2.5px, 1.5px) rotate(0.5deg); }
  32% { -webkit-transform: translate(-2.5px, -2.5px) rotate(-0.5deg); }
  34% { -webkit-transform: translate(-1.5px, 0.5px) rotate(-1.5deg); }
  36% { -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg); }
  38% { -webkit-transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
  40% { -webkit-transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  42% { -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
  44% { -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
  46% { -webkit-transform: translate(-1.5px, 1.5px) rotate(-1.5deg); }
  48% { -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
  50% { -webkit-transform: translate(-1.5px, -0.5px) rotate(-1.5deg); }
  52% { -webkit-transform: translate(-2.5px, -0.5px) rotate(-1.5deg); }
  54% { -webkit-transform: translate(1.5px, 0.5px) rotate(-1.5deg); }
  56% { -webkit-transform: translate(0.5px, 0.5px) rotate(-1.5deg); }
  58% { -webkit-transform: translate(0.5px, 1.5px) rotate(-0.5deg); }
  60% { -webkit-transform: translate(-0.5px, -2.5px) rotate(-0.5deg); }
  62% { -webkit-transform: translate(-2.5px, -1.5px) rotate(-0.5deg); }
  64% { -webkit-transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
  66% { -webkit-transform: translate(0.5px, -0.5px) rotate(-1.5deg); }
  68% { -webkit-transform: translate(-1.5px, -0.5px) rotate(-1.5deg); }
  70% { -webkit-transform: translate(-0.5px, -2.5px) rotate(-1.5deg); }
  72% { -webkit-transform: translate(-2.5px, -0.5px) rotate(-1.5deg); }
  74% { -webkit-transform: translate(-2.5px, 0.5px) rotate(0.5deg); }
  76% { -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg); }
  78% { -webkit-transform: translate(1.5px, -2.5px) rotate(0.5deg); }
  80% { -webkit-transform: translate(-2.5px, -2.5px) rotate(-0.5deg); }
  82% { -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg); }
  84% { -webkit-transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
  86% { -webkit-transform: translate(-2.5px, 0.5px) rotate(-0.5deg); }
  88% { -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg); }
  90% { -webkit-transform: translate(-1.5px, -1.5px) rotate(-1.5deg); }
  92% { -webkit-transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  94% { -webkit-transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
  96% { -webkit-transform: translate(-2.5px, -2.5px) rotate(0.5deg); }
  98% { -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
}

.feedback-link-bottom {
	-webkit-transform: translate(0,100%) !important;
	transform: translate(0,100%) !important;
	bottom: 0 !important;
	border-radius: 0 0 3px 3px !important;
	margin-top: 0px !important;
	margin-bottom: 3px !important;
}
.feedback-link * {
	all:unset;
}
.feedback-link a {
	line-height: 22px !important;
	display: inline-block !important;
}
.feedback-link a strong {
	vertical-align: top !important;
	background-color: white !important;
	padding: 0px 4px !important;
	line-height: 22px !important;
	display: inline-block !important;
	font-size: 13px !important;
	font-family: arial, sans-serif !important;
	border-radius: 4px !important;
	position: relative !important;
}
.feedback-link img {
	height: 22px !important;
	margin-right: 8px
}
.feedback-link span {
	vertical-align: top !important;
	float: right !important;
	height: 22px !important;
	width: 22px !important;
	border-radius: 50% !important;
	text-align: center !important;
	background: white !important;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/closebutton.png') !important;
	background-size: 50% !important;
	opacity: .5 !important;
	background-repeat: no-repeat !important;
	background-position:center !important; 
	display: inline-block !important;
}
.feedback-link span:hover {
	opacity: 1 !important
}
