.__MSG_@@extension_id__-hovercard {
	background: rgba(255,255,255,.96) !important;
	z-index: 2147483647 !important;
	border-radius: 8px !important;
	border-radius: 3px !important;
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	cursor: pointer !important;
	position: absolute !important;
}
.__MSG_@@extension_id__-hovercard iframe {
	height: 100% !important;
	width: 100% !important;
	border-radius: 3px !important
}
.__MSG_@@extension_id__-hovercard-from-top, .__MSG_@@extension_id__-hovercard-from-bottom {
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-transform:translate3d(0,0,0);
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.__MSG_@@extension_id__-hovercard-from-top {
	-webkit-animation-name: __MSG_@@extension_id__-hovercard-fade-down;
	animation-name: __MSG_@@extension_id__-hovercard-fade-down;
}
.__MSG_@@extension_id__-hovercard-from-bottom {
	-webkit-animation-name: __MSG_@@extension_id__-hovercard-fade-up;
	animation-name: __MSG_@@extension_id__-hovercard-fade-up;
}
@-webkit-keyframes __MSG_@@extension_id__-hovercard-fade-down {
	0% {
		opacity: 0;
		-webkit-transform:translate3d(0,0,0);
	}
	1% {
		opacity: 0;
		-webkit-transform:translate3d(0,-50px,0);
	}
	100% {
		opacity: 1;
		-webkit-transform:translate3d(0,0px,0);
	}
}
@keyframes __MSG_@@extension_id__-hovercard-fade-down {
	0% {
		opacity: 0;
		transform:translate3d(0,0,0);
	}
	1% {
		opacity: 0;
		transform:translate3d(0,-50px,0);
	}
	100% {
		opacity: 1;
		transform:translate3d(0,0px,0);
	}
}
@-webkit-keyframes __MSG_@@extension_id__-hovercard-fade-up {
	0% {
		opacity: 0;
		-webkit-transform:translate3d(0,0,0);
	}
	1% {
		opacity: 0;
		-webkit-transform:translate3d(0,50px,0);
	}
	100% {
		opacity: 1;
		-webkit-transform:translate3d(0,0px,0);
	}
}
@keyframes __MSG_@@extension_id__-hovercard-fade-up {
	0% {
		opacity: 0;
		transform:translate3d(0,0,0);
	}
	1% {
		opacity: 0;
		transform:translate3d(0,50px,0);
	}
	100% {
		opacity: 1;
		transform:translate3d(0,0px,0);
	}
}
.feedback-link {
	background: #b1e8f6 !important;
	position: absolute;
	-webkit-transform: translate(0,-100%);
	transform: translate(0,-100%);
	padding: 8px !important;
	line-height: 24px !important;
	display: block !important;
	width: 300px !important;
	box-sizing:border-box !important;
	border-radius: 3px 3px 0 0 !important;
	margin-top: 3px;
	height: 38px !important;
}
.feedback-link-bottom {
	-webkit-transform: translate(0,100%) !important;
	transform: translate(0,100%) !important;
	bottom: 0 !important;
	border-radius: 0 0 3px 3px !important;
	margin-top: 0px !important;
	margin-bottom: 3px !important;
}
.feedback-link * {
	all:unset;
}
.feedback-link a {
	line-height: 22px !important;
	display: inline-block !important;
}
.feedback-link a strong {
	vertical-align: top !important;
	background-color: white !important;
	padding: 0px 4px !important;
	line-height: 22px !important;
	display: inline-block !important;
	font-size: 13px !important;
	font-family: arial, sans-serif !important;
	border-radius: 4px !important;
}
.feedback-link img {
	height: 22px !important;
	margin-right: 8px
}
.feedback-link span {
	vertical-align: top !important;
	float: right !important;
	height: 22px !important;
	width: 22px !important;
	border-radius: 50% !important;
	text-align: center !important;
	background: white !important;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/closebutton.png') !important;
	background-size: 50% !important;
	opacity: .5 !important;
	background-repeat: no-repeat !important;
	background-position:center !important; 
	display: inline-block !important;
}
.feedback-link span:hover {
	opacity: 1 !important
}
