.feedback-link {
	background: #eceef1 !important;
	position: absolute;
	transform: translate(0,-100%);
	padding: 8px !important;
	line-height: 24px !important;
	display: block !important;
	width: 300px !important;
	box-sizing:border-box !important;
	border-radius: 3px 3px 0 0 !important;
	margin-top: 3px;
	height: 38px !important;
}
.feedback-link:hover img {
	animation-name: shake-base;
	animation-duration: 100ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-play-state: running;
}
@keyframes shake-base {
	0% { transform: translate(0px, 0px) rotate(0deg); }
	2% { transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
	4% { transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
	6% { transform: translate(-2.5px, -1.5px) rotate(0.5deg); }
	8% { transform: translate(-2.5px, -2.5px) rotate(-1.5deg); }
	10% { transform: translate(1.5px, 1.5px) rotate(-1.5deg); }
	12% { transform: translate(-2.5px, -0.5px) rotate(-0.5deg); }
	14% { transform: translate(1.5px, -2.5px) rotate(-0.5deg); }
	16% { transform: translate(0.5px, 1.5px) rotate(0.5deg); }
	18% { transform: translate(-2.5px, -0.5px) rotate(0.5deg); }
	20% { transform: translate(-0.5px, -0.5px) rotate(-1.5deg); }
	22% { transform: translate(-2.5px, -1.5px) rotate(-1.5deg); }
	24% { transform: translate(-1.5px, -2.5px) rotate(-1.5deg); }
	26% { transform: translate(0.5px, -0.5px) rotate(-1.5deg); }
	28% { transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
	30% { transform: translate(-2.5px, 1.5px) rotate(0.5deg); }
	32% { transform: translate(-2.5px, -2.5px) rotate(-0.5deg); }
	34% { transform: translate(-1.5px, 0.5px) rotate(-1.5deg); }
	36% { transform: translate(1.5px, -1.5px) rotate(-1.5deg); }
	38% { transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
	40% { transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
	42% { transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
	44% { transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
	46% { transform: translate(-1.5px, 1.5px) rotate(-1.5deg); }
	48% { transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
	50% { transform: translate(-1.5px, -0.5px) rotate(-1.5deg); }
	52% { transform: translate(-2.5px, -0.5px) rotate(-1.5deg); }
	54% { transform: translate(1.5px, 0.5px) rotate(-1.5deg); }
	56% { transform: translate(0.5px, 0.5px) rotate(-1.5deg); }
	58% { transform: translate(0.5px, 1.5px) rotate(-0.5deg); }
	60% { transform: translate(-0.5px, -2.5px) rotate(-0.5deg); }
	62% { transform: translate(-2.5px, -1.5px) rotate(-0.5deg); }
	64% { transform: translate(-1.5px, 0.5px) rotate(0.5deg); }
	66% { transform: translate(0.5px, -0.5px) rotate(-1.5deg); }
	68% { transform: translate(-1.5px, -0.5px) rotate(-1.5deg); }
	70% { transform: translate(-0.5px, -2.5px) rotate(-1.5deg); }
	72% { transform: translate(-2.5px, -0.5px) rotate(-1.5deg); }
	74% { transform: translate(-2.5px, 0.5px) rotate(0.5deg); }
	76% { transform: translate(1.5px, -1.5px) rotate(-1.5deg); }
	78% { transform: translate(1.5px, -2.5px) rotate(0.5deg); }
	80% { transform: translate(-2.5px, -2.5px) rotate(-0.5deg); }
	82% { transform: translate(-2.5px, -1.5px) rotate(0.5deg); }
	84% { transform: translate(0.5px, -2.5px) rotate(-0.5deg); }
	86% { transform: translate(-2.5px, 0.5px) rotate(-0.5deg); }
	88% { transform: translate(-2.5px, -0.5px) rotate(-0.5deg); }
	90% { transform: translate(-1.5px, -1.5px) rotate(-1.5deg); }
	92% { transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
	94% { transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
	96% { transform: translate(-2.5px, -2.5px) rotate(0.5deg); }
	98% { transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
}

.hovercard-from-bottom .feedback-link {
	transform: translate(0,100%) !important;
	bottom: 0 !important;
	border-radius: 0 0 3px 3px !important;
	margin-top: 0 !important;
	margin-bottom: 3px !important;
}
.feedback-link * {
	all:unset;
}
.feedback-link a {
	line-height: 22px !important;
	display: inline-block !important;
}
.feedback-link a div {
	vertical-align: top !important;
	background-color: white !important;
	padding: 0 4px !important;
	line-height: 22px !important;
	display: inline-block !important;
	font-size: 13px !important;
	font-family: arial, sans-serif !important;
	border-radius: 4px !important;
	position: relative !important;
}
.feedback-link a div:after {
	content: "";
	width: 0 !important;
	height: 0 !important;
	border-top: 6px solid transparent !important;
	border-bottom: 6px solid transparent !important;
	border-right:6px solid white !important;
	position: absolute !important;
	left: -5px !important;
	top:50%;
	margin-top: -6px;
	display: block;
}
.feedback-link img {
	height: 22px !important;
	margin-right: 8px
}
.feedback-link span {
	vertical-align: top !important;
	float: right !important;
	height: 22px !important;
	width: 22px !important;
	border-radius: 50% !important;
	text-align: center !important;
	background: white !important;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/closebutton.png') !important;
	background-size: 50% !important;
	opacity: .5 !important;
	background-repeat: no-repeat !important;
	background-position:center !important;
	display: inline-block !important;
}
.feedback-link span:hover {
	opacity: 1 !important
}
