.flex-container--hovercard--top, .flex-container--hovercard--bottom {
	animation-duration: .4s;
	animation-fill-mode: forwards;
}
.flex-container--hovercard--top {
	animation-name: hovercard-fade-down;
}
.flex-container--hovercard--top .hovercard {
	transform: translate3d(0,-100%,0);
}
.flex-container--hovercard--bottom {
	animation-name: hovercard-fade-up;
}
.hovercard {
	background: rgba(255,255,255,.96) !important;
	border-radius: 3px !important;
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	cursor: pointer !important;
	margin: 0 !important;
	pointer-events: auto !important;
}

@keyframes hovercard-fade-down {
	0% {
		opacity: 0;
		transform:translate3d(0,0,0);
	}
	1% {
		opacity: 0;
		transform:translate3d(0,-50px,0);
	}
	100% {
		opacity: 1;
		transform:translate3d(0,0,0);
	}
}

@keyframes hovercard-fade-up {
	0% {
		opacity: 0;
		transform:translate3d(0,0,0);
	}
	1% {
		opacity: 0;
		transform:translate3d(0,50px,0);
	}
	100% {
		opacity: 1;
		transform:translate3d(0,0px,0);
	}
}
