.yo-notify  {
	content: "" !important;
	position: absolute !important;
	width: 16px !important;
	height: 16px !important;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/yo-white.png') !important;
	background-repeat: no-repeat !important;
	background-size: 66% !important;
	background-position: center !important;
	border-radius: 50% !important;
	z-index: 2 !important;
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: yofadeIn;
	animation-name: yofadeIn;
}
.yo-notify-youtube {
	background-color: #F44336 !important;
}
.yo-notify-reddit {
	background-color: #cee2f8 !important;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/yo-black.png') !important;
}
.yo-notify:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.115);
	cursor: pointer
}

@-webkit-keyframes yofadeIn { 
    0% {
    	opacity: 0;
    	-webkit-transform: scale(.5);
    }
    100% {
    	opacity: 1;
    	-webkit-transform: scale(1);
    }
} 
@keyframes yofadeIn { 
    0% {
    	opacity: 0;
    	transform: scale(.5);
    }
    100% {
    	opacity: 1;
    	transform: scale(1);
    }
} 
.yo-notify-exit {
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: yofadeOut;
	animation-name: yofadeOut;
}

@-webkit-keyframes yofadeOut { 
    0% {
    	opacity: 1;
    	-webkit-transform: scale(1);
    }
    100% {
    	opacity: 0;
    	-webkit-transform: scale(.5);
    }
} 
@keyframes yofadeOut { 
    0% {
    	opacity: 1;
    	transform: scale(1);
    }
    100% {
    	opacity: 0;
    	transform: scale(.5);
    }
}
.yo-notify-clicked {
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: yohasbeenpressedlol;
	animation-name: yohasbeenpressedlol;
}
@-webkit-keyframes yohasbeenpressedlol { 
    0% {
    	opacity: 1;
    	-webkit-transform: scale(1);
    }
    100% {
    	opacity: 0;
    	-webkit-transform: scale(1.5);
    }
} 
@keyframes yohasbeenpressedlol { 
    0% {
    	opacity: 1;
    	transform: scale(1);
    }
    100% {
    	opacity: 0;
    	transform: scale(1.5);
    }
}