@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Thin.ttf");
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  font-weight: 700; }

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
.scroll-bar::-webkit-scrollbar{width:15px;height:15px;background:transparent;overflow:visible}
.scroll-bar::-webkit-scrollbar-thumb:vertical{height:1px;background-color:rgba(0,0,0,0.2);border-right:4px solid #fff;border-left:4px solid #fff;border-top:6px solid #fff;border-bottom:6px solid #fff}
.scroll-bar::-webkit-scrollbar-thumb:horizontal{height:1px;background-color:rgba(0,0,0,0.2);border-right:4px solid #fff;border-left:4px solid #fff;border-top:6px solid #fff;border-bottom:6px solid #fff}
.scroll-bar::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,0.4)}
.scroll-bar::-webkit-scrollbar-thumb:horizontal:hover{background-color:rgba(0,0,0,0.4)}
html,body {
	background: #EFEFEF;
	font-family: "Roboto", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.card-container {
	width: 300px;
	margin: auto;
	padding-bottom: 20px;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* Grid */
.row {
	overflow:auto;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
	float:left;
}
.col-1 {width:8.333333333%}
.col-2 {width:16.666666666%}
.col-3 {width:24.999999999%}
.col-4 {width:33.333333333%}
.col-5 {width:41.666666666%}
.col-6 {width:50.000000000%}
.col-7 {width:58.333333333%}
.col-8 {width:66.666666666%}
.col-9 {width:74.999999999%}
.col-10 {width:83.33333333%}
.col-11 {width:91.66666666%}
.col-12 {width:100.000000000%}

.card-outer.ng-enter,
.cards.ng-leave {
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(700px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-10px);
    }
    80% {
        -webkit-transform: translateX(5px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-webkit-keyframes bounceOutLeft {
    0% {
        -webkit-transform: translateX(0);
    }
    60% {
        -webkit-transform: translateX(-710px);
    }
    80% {
        -webkit-transform: translateX(-695px);
    }
    100% {
        -webkit-transform: translateX(-700px);
    }
}

.card-outer.ng-enter {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

.cards.ng-leave {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
}
.cards {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
}
/*default cards*/
b {
	display: block;
	font-weight: 700;
	margin-bottom: 2px;
	font-size:11px;
	text-transform: uppercase;
}
b i {
	position: relative;
	top: -.5px;
	margin-right: 2px;
}
.card {
	background: #fff;
	border-radius: 3px;
	margin-top: 20px;
	box-shadow:0px 2px 5px 0 rgba(0, 0, 0, 0.26)
}
.card-more {
	box-shadow:0px 2px 5px 0 rgba(0, 0, 0, 0.26);
	-webkit-transition: all .4s ease-in-out;
	transition: all .2s ease-in-out;
}
.card-more:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05) !important;
	box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.24)
}

.card-stats {
	border-top:1px solid #B6B6B6	
}
.card-stats b,
.card-description b {
	color: #727272;
}
.card-stats span,
.card-description span {
	color: #212121;
	font-size: 14px;
	font-weight: 500
}

.card-description span {
	line-height: 19px;
	font-weight: 400;
	font-size: 16px;
}
.card-description {
	max-height: 0px;
	overflow: hidden;
	word-wrap:break-word;
	display: block;
	padding: 0px 16px;
	transition: padding .3s ease-in-out, max-height .3s ease-in-out;
}
.card-more .card-description {
	border-top: 1px solid #B6B6B6;
}
.card-more .card-stats {
	border-top: none
}
.card-description b, .card-description span {
	transition-delay: 2s;
	transition: all .45s ease-in-out;
	opacity: 0;
}
.expanddescription {
	height: auto;
	max-height: 200px;
	overflow-y: scroll;
	border-bottom: 1px solid #B6B6B6;
	padding: 16px 16px;
	transition: all .3s ease-in-out;
}
.expanddescription b, .expanddescription span {
	opacity: 1;
}
.card-stats .col-4 {
	padding: 9.5px 16px;
}

.profile-right a, .video-title a {
	color: black;
	text-decoration: none;
	font-size: 16px;
	text-transform: capitalize;
	margin-top:3.5px;
	font-weight: 500;
	display: inline-block;
}
.video-title a {
	display: inline;
}
.profile-right a {
	display: inline-block;
	max-width: 167px;
}
.profile-right a:hover, .video-title a:hover {
	text-decoration: underline;
}
/*Color Palette*/
.youtube-color {
	color: #F44336
}

/*Profile Cards*/

.profile-card {

}
.profile-top {

}

.profile-left {
	background: #F2F2F2;
	border-radius: 3px 0 0 0;
}
.profile-image {
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
	background-position: center;
	border-radius: 3px 0 0 0;
}
.profile-right {
	padding: 16px;
	position: relative;
	height: 100px;
}

.profile-cta {
	position: absolute;
	overflow: hidden;
	bottom: 16px;
}

/*Video Cards*/

.video-card {

}

.video-top {
	height: 168px;
	position: relative;
}
.video-image {
	height: 168px;
	border-radius: 3px 3px 0 0;
	background-size: cover;
	background-position: center;
}
.youtube-video {
	width: 100%;
	height: 100%;
}
.video-title {
	padding: 16px;
}
.video-cta {
	position: absolute;
	right: 16px;
	bottom: -25px;
	width: 46px;
	height: 46px;
	line-height: 46px;
	border-radius: 50%;
	text-align: center;
	font-size: 25px;
	background: #F44336;
	color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	z-index: 2;
	-webkit-transform: rotate(0deg) scale(1);
	-webkit-transition: box-shadow .2s ease-in-out, transform .5s ease-in-out, opacity .5s ease-in-out;
}
.video-cta:hover {
	cursor: pointer;
	box-shadow:0 6px 7.5px 0 rgba(0, 0, 0, 0.24)
}
.video-cta:active {
	box-shadow:0 6px 7.5px 0 rgba(0, 0, 0, 0)
}
.playing {
	-webkit-transform: rotate(360deg) scale(0);
	opacity: 0;
}





























