.deckard-button {
	z-index: 2 !important;
}
.deckard-button {
	width: 40px !important;
	height: 40px !important;
}
.deckard-button:hover {
	cursor: crosshair;
}
.deckard-button, .deckard-button * {
	-webkit-transform: translateZ(0) !important;
}
.deckard-yt-card {
	position: absolute !important;
	height: 30.5px;
	width: 12px;
	-webkit-transition:width .5s, background-position .6s;
	transition:width .5s, background-position .6s;
	background: url("chrome-extension://__MSG_@@extension_id__/images/deckardlogo-white.png") -100px 50% / 80px no-repeat #D32F2F !important;
}
.deckard-button:hover .deckard-yt-card {
	width: 100px;
	background-position: center !important;
}