@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Thin.ttf");
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  font-weight: 700; }

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

html,body {
	background: #EFEFEF;
	font-family: "Roboto", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  overflow-x:hidden;
}
.card-container {
	width: 300px;
	margin: auto;
	padding-bottom: 20px;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* Grid */
.row {
	overflow:auto;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
	float:left;
}
.col-1 {width:8.333333333%}
.col-2 {width:16.666666666%}
.col-3 {width:24.999999999%}
.col-4 {width:33.333333333%}
.col-5 {width:41.666666666%}
.col-6 {width:50.000000000%}
.col-7 {width:58.333333333%}
.col-8 {width:66.666666666%}
.col-9 {width:74.999999999%}
.col-10 {width:83.33333333%}
.col-11 {width:91.66666666%}
.col-12 {width:100.000000000%}


.cards {
	position: absolute;
	max-width: 340px;
	top: 0;
	left: 0;
	padding: 0 20px;
}
/*default cards*/
b {
	display: block;
	font-weight: 700;
	margin-bottom: 5.5px;
	font-size:11px;
	text-transform: uppercase;
}
b i {
	position: relative;
	top: -1px;
	margin-right: 2px;
}
.card {
	background: #fff;
	border-radius: 3px;
	margin-top: 16px;
	border: 1px solid #B6B6B6;
	min-width: 300px;
}
.card-more {
	border: 1px solid #B6B6B6;
	-webkit-transition: all .4s ease-in-out;
	transition: all .2s ease-in-out;
}
.card-more:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.24)
}

.card-stats {
	border-top:1px solid #B6B6B6	
}
.card-stats b {
	color: #727272;
	margin-bottom: 2px;
}
.card-stats span/*,
.card-description span*/ {
	color: #212121;
	font-size: 14px;
	font-weight: 500
}
/*
.card-description span a {
	color: #1976D2;
	text-transform: none;
	font-weight: 500
}
.card-description span {
	line-height: 19px;
	font-weight: 400;
	font-size: 16px;
	color: #727272;
	display: none;
}
.card-description {
	word-wrap:break-word;
  transition: all .45s ease-in-out;
	display: none;
	height: 0px;
	overflow: hidden;
}

.card-description span {
	transition: all .45s ease-in-out;
	opacity: 0;
	max-height: 0px;
	display: table-row;
}

.expanddescription{
	max-height: inherit;
	position: relative;
	display: table;
	transition: all .45s ease-in-out;
}
.expanddescription span {
	opacity: 1;
	margin-bottom: 16px;
	display: table-row;
	max-height: inherit;
}
*/
.card-stats .col-4 {
	padding: 9.5px 16px;
}

.profile-right a, .card-text a {
	color: black;
	text-decoration: none;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 500;
	display: inline-block;
}
.card-text a {
	display: inline;
}
.profile-right a {
	display: inline-block;
	max-width: 167px;
}
.profile-right a:hover, .card-text a:hover {
	text-decoration: underline;
}
/*Color Palette*/
.youtube-color {
	color: #F44336
}

/*Profile Cards*/

.profile-card {

}
.profile-top {

}

.profile-left {
	background: #F2F2F2;
	border-radius: 3px 0 0 0;
}
.profile-image {
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
	background-position: center;
	border-radius: 2px 0 0 0;
}
.profile-right {
	padding: 16px;
	position: relative;
	height: 100px;
}

.profile-cta {
	position: absolute;
	overflow: hidden;
	bottom: 16px;
}

/*Video Cards*/

.video-card {

}

.video-top {
	height: 168px;
	position: relative;
}
.video-image {
	height: 168px;
	border-radius: 2px 2px 0 0;
	background-size: cover;
	background-position: center;
}
.youtube-video {
	width: 100%;
	height: 100%;
}
.card-text {
	padding: 16px 16px 0 16px;
	max-height: 200px;
	overflow-y: scroll;
}
.video-title {
	margin-bottom: 16px;
}
.video-cta {
	position: absolute;
	right: 16px;
	bottom: -25px;
	width: 46px;
	height: 46px;
	line-height: 46px;
	border-radius: 50%;
	text-align: center;
	font-size: 25px;
	background: #F44336;
	color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	z-index: 2;
	-webkit-transform: rotate(0deg) scale(1);
	-webkit-transition: box-shadow .2s ease-in-out, transform .5s ease-in-out, opacity .5s ease-in-out;
}
.video-cta:hover {
	cursor: pointer;
	box-shadow:0 6px 7.5px 0 rgba(0, 0, 0, 0.24)
}
.video-cta:active {
	box-shadow:0 6px 7.5px 0 rgba(0, 0, 0, 0)
}
.playing {
	-webkit-transform: rotate(360deg) scale(0);
	opacity: 0;
}

/*comments*/
.comment {
	padding: 16px;
	border-bottom: 1px solid #B6B6B6;
}
.comment-top {
	border-bottom: 1px solid #B6B6B6;
	line-height: 50px;
	padding: 0 16px;
}
.comment-top span {
	color: #000;
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
.comment-top span i {
	margin-right: 6px;
}
.comment-top .col-4 {
	text-align: right;
}
.comment:last-of-type {
	border-bottom: 0;
}
.comment-content {
	overflow: scroll;
	padding-bottom: 24px;
}
.comment-left {

}
.comment-image {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-size: 100%;
	background-position: center;
	position: relative;
}

.comment-content a {
	color: black;
	text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
.comment-content p {
	line-height: 19px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 5px;
  color: #727272;
}
.comment-content b {
	margin-bottom: 0;
	margin-top: 5px;
}







/* ANIMATIONS */

.bounce-in-animation.ng-enter {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	box-shadow:0px 2px 5px 0 rgba(0, 0, 0, 0.26);
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(700px) scale(1.015);
	}
	50% {
		opacity: 1;
		-webkit-transform: translateX(-10px) scale(1.015);
	}
	70% {
		-webkit-transform: translateX(5px) scale(1.015);
	}
	90% {
		-webkit-transform: translateX(0) scale(1.015);
		box-shadow:0px 2px 5px 0 rgba(0, 0, 0, 0.26);
		border: 1px solid transparent;
	}
	100% {
		-webkit-transform: translateX(0) scale(1);
		border: 1px solid #B6B6B6;
		/*I'm sorry expanding shadow :(, it was good while it lasted*/
		box-shadow:0px 2px 5px 0 rgba(0, 0, 0, 0);
	}
}

.bounce-out-animation.ng-leave {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounceOutLeft;
	animation-name: bounceOutLeft;
}
@-webkit-keyframes bounceOutLeft {
	0% {
		-webkit-transform: translatey(0);
	}
	100% {
		-webkit-transform: translatey(-1400px);
	}
}

.fade-animation {
	-webkit-transition: all .45s ease-in-out;
	transition: all .45s ease-in-out;
}
.fade-animation.ng-hide {
	opacity: 0;
}


















