.__MSG_@@extension_id__-clickable-yo-trigger {
	content: "" !important;
	position: absolute !important;
	width: 22px !important;
	height: 22px !important;
	max-width: 22px !important;
	max-height: 22px !important;
	min-width: 22px !important;
	min-height: 22px !important;
	-webkit-transform: scale(.727272727273);
	transform: scale(.727272727273);
	box-sizing:border-box !important;
	border-radius: 50% !important;
	z-index: 2147483647 !important;
	cursor: pointer !important;
	background: white !important;
	display: block !important;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,.19), 0 3px 6px 0 rgba(0,0,0,.2);
	transition:all .2s ease-in-out;
}
.__MSG_@@extension_id__-image-hidden {
	border-radius: 50% !important;
	overflow: hidden;
	width: 100% !important;
	height: 100% !important;
	display: block !important;
}
.__MSG_@@extension_id__-clickable-yo-trigger img {
	display: block !important;
	pointer-events:none !important;
	width: 100% !important;
  position: relative !important;
  top: 0px !important;
	transition:all .3s ease-in-out !important;
}
.__MSG_@@extension_id__-clickable-yo-trigger:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.__MSG_@@extension_id__-clickable-yo-trigger:hover img {
	top: -17px !important;
	transition:all .3s ease-in-out !important;
}
.__MSG_@@extension_id__-clickable-yo-trigger:after {
	content:"" !important;
	position: absolute !important;
	width: 30px !important;
	height: 33px !important;
	top: -3px !important;
	left: -4px;
}

.__MSG_@@extension_id__-clickable-yo-trigger-youtube .__MSG_@@extension_id__-image-hidden {
	background-color: #F44336 !important;
}
.__MSG_@@extension_id__-clickable-yo-trigger-soundcloud .__MSG_@@extension_id__-image-hidden {
	background-color: #fc561e !important;
}
.__MSG_@@extension_id__-clickable-yo-trigger-twitter .__MSG_@@extension_id__-image-hidden {
	background-color: #55ACEE !important;
}
.__MSG_@@extension_id__-clickable-yo-trigger-reddit .__MSG_@@extension_id__-image-hidden {
	background-color: #fff !important;
}
.__MSG_@@extension_id__-clickable-yo-trigger-instagram .__MSG_@@extension_id__-image-hidden {
	background-color: #517fa4 !important;
}
.__MSG_@@extension_id__-clickable-yo-trigger-imgur .__MSG_@@extension_id__-image-hidden {
	background: #85BF25 !important;
}
.__MSG_@@extension_id__-clickable-yo-trigger-reddit .yocardsyopoppyblack,
.__MSG_@@extension_id__-clickable-yo-trigger-reddit .yocardsyopoppywhite,
.__MSG_@@extension_id__-clickable-yo-trigger-imgur .yocardsyopoppyreddit,
.__MSG_@@extension_id__-clickable-yo-trigger-imgur .yocardsyopoppywhite {
	display: none !important;
}
.yocardsyopoppyreddit, .yocardsyopoppyblack {
	display: none !important;
}
.__MSG_@@extension_id__-clickable-yo-trigger-reddit .yocardsyopoppyreddit {
	display: block !important
}
.__MSG_@@extension_id__-clickable-yo-trigger-imgur .yocardsyopoppyblack {
	display: block !important
}
.__MSG_@@extension_id__-clickable-yo-trigger-clicked {
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-name: __MSG_@@extension_id__-clickable-yo-trigger-grow;
	animation-name: __MSG_@@extension_id__-clickable-yo-trigger-grow;
	cursor: default !important;
}
@-webkit-keyframes __MSG_@@extension_id__-clickable-yo-trigger-grow {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.8);
	}
}
@keyframes __MSG_@@extension_id__-clickable-yo-trigger-grow {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.8);
	}
}
.__MSG_@@extension_id__-clickable-yo-trigger-timeout {
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-name: __MSG_@@extension_id__-clickable-yo-trigger-fadeout;
	animation-name: __MSG_@@extension_id__-clickable-yo-trigger-fadeout;
}
@-webkit-keyframes __MSG_@@extension_id__-clickable-yo-trigger-fadeout {
	0% {
	}
	100% {
		opacity: 0;
	}
}
@keyframes __MSG_@@extension_id__-clickable-yo-trigger-fadeout {
	0% {
	}
	100% {
		opacity: 0;
	}
}
.__MSG_@@extension_id__-clickable-yo-trigger-hide {
	display: none !important;
}
