@define-placeholder box-thing {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2147483647;
}

@define-placeholder box-thing,
@define-placeholder box-thing *,
@define-placeholder box-thing *:before,
@define-placeholder box-thing *:after {
    all: initial; /* no important */
    box-sizing: border-box;
}

@define-placeholder box-thing *:before,
@define-placeholder box-thing *:after {
    display: none;
}

@define-placeholder box-thing div,
@define-placeholder box-thing h1,
@define-placeholder box-thing h2,
@define-placeholder box-thing h3,
@define-placeholder box-thing ul,
@define-placeholder box-thing li,
@define-placeholder box-thing blockquote {
    display: block; /* no important */
}

@define-placeholder box-thing p {
    display: inline;
}

@define-placeholder box-thing p a {
    margin: 0 3px;
}

@define-placeholder box-thing br {
    display: none;
}

@define-placeholder box-thing__box {
    background: white;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px 0, rgba(0, 0, 0, 0.12) 0 2px 10px 0;
}

/*
 * Common Animations
 */
@keyframes fade-in-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.hovercard {
  @extend box-thing;
  pointer-events: none;
}

.hovercard__box {
  @extend box-thing__box;
  cursor: pointer;
  margin: 0;
  pointer-events: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/-L14Jk06m6pUHB-5mXQQnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/I3S1wsgSg9YCurV6PUkTOYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/NYDWBdD4gIq26G5XYbHsFIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/uYECMKoHcO9x1wdmbyHIm3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/tnj4SB6DNbdaQnsM8CFqBX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/_VYFx-s824kXq_Ul2BHqYH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/NJ4vxlgWwWbEsv18dAhqnn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/77FXFjRbGzN4aCrSFhlh3oX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHToX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/UX6i4JxQDm3fVTc1CPuwqoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/jSN2CGVDbcVyCnfJfjSdfIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/PwZc-YbIL414wB9rB1IAPYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.box {
  max-height: 600px;
  border-radius: 3px;
  overflow: auto;
}

.box * {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.box a {
  text-decoration: none;
  color: black;
}

.box blockquote {
  padding: 6px 12px;
  border-left: 2px solid rgba(0, 0, 0, .2);
}

.box em {
  color: black;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
}

.box p,
.box span,
.box sup,
.box li,
.box li:before {
  color: rgba(0, 0, 0, .8);
}

.box p,
.box p *,
.box p a {
  line-height: 21px;
  font-size: 16px;
  font-weight: 400;
}

.box p,
.box p *,
.box a {
  word-wrap: break-word;
  word-break: break-word;
}

.box p strong {
  font-weight: 700;
}

.box p em {
  font-style: italic;
}

.box p del {
  text-decoration: line-through;
}

.box p a {
  color: #2676d6;
}

.box p h1,
.box p h2,
.box p h3 {
  font-weight: 700;
}

.box p h1 {
  font-size: 28px;
}

.box p h2 {
  font-size: 22px;
}

.box p h3 {
  font-size: 18px;
}

.box pre {
  background: rgba(0, 0, 0, .1);
  border-left: 3px solid rgba(0, 0, 0, .1);
  padding: 6px 12px;
  display: block;
}

.box span {
  font-size: 14px;
  font-weight: 400;
}

.box sup {
  vertical-align: super;
  font-size: smaller;
}

.box table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.box th,
.box td {
  display: table-cell;
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}

.box th:first-of-type {
  border-left-width: 0;
}

.box thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: rgba(0, 0, 0, .1);
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.box tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.box tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.box ul {
  padding: 4px 0 4px 20px;
  list-style-type: disc;
}

.box ul li:before {
  display: inline-block;
  content: "\25CF ";
  margin-right: 4px;
}

.box.hovercard__box p,
.box.hovercard__box p a {
  line-height: 19px;
  font-size: 14px;
}

.box.hovercard__box span,
.box.hovercard__box span em {
  font-size: 14px;
}

/*// General styles // --------------------------------------------------*/
.hovercard__box * {
}

.flex-row,
.flex-center,
.flex-spread {
  display: flex;
  align-items: center;
}

.flex-row {
  justify-content: center;
}

.flex-center {
  justify-content: left;
}

.flex-spread {
  justify-content: space-between;
  width: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.hovercard p.text-center {
  display: block;
}

.twitter,
.twitter-bg {
  background-color: #55acee;
}

.twitter,
.twitter-img {
  background-image: url("../../assets/images/twitter.svg");
}

.twitter,
.twitter-color {
  color: #55acee;
}

.reddit,
.reddit-bg {
  background-color: #d0e2f9;
}

.reddit,
.reddit-img {
  background-size: 80%;
  background-image: url("../../assets/images/reddit.svg");
}

.reddit,
.reddit-color {
  color: #d0e2f9;
}

.soundcloud,
.soundcloud-bg {
  background-color: #ff3300;
}

.soundcloud,
.soundcloud-img {
  background-image: url("../../assets/images/soundcloud.svg");
}

.soundcloud,
.soundcloud-color {
  color: #ff3300;
}

.youtube,
.youtube-bg {
  background-color: #cd201f;
}

.youtube,
.youtube-img {
  background-image: url("../../assets/images/youtube.svg");
}

.youtube,
.youtube-color {
  color: #cd201f;
}

.imgur,
.imgur-bg {
  background-color: #000;
}

.imgur,
.imgur-img {
  background-size: 80%;
  background-image: url("../../assets/images/imgur.svg");
}

.imgur,
.imgur-color {
  color: #000;
}

.instagram,
.instagram-bg {
  background-color: #3f729b;
}

.instagram,
.instagram-img {
  background-size: 80%;
  background-image: url("../../assets/images/instagram.svg");
}

.instagram,
.instagram-color {
  color: #3f729b;
}

/*// meta // --------------------------------------------------*/
.meta {
  padding: 12px;
}

.hovercard__box .meta {
}

.meta span {
  line-height: 20px;
}

.meta-main {
  position: relative;
  width: 100%;
}

.hovercard__box .meta-main {
  height: 20px;
}

.account .meta-main-stats {
  text-align: center;
}

.hovercard__box .account .meta-main-stats {
  text-align: left;
}

.meta-main-stats span {
  margin: 0 10px;
}

.hovercard__box .meta-main-stats span {
  margin: 0 6px 0 0;
}

.hovercard__box .meta-main-stats {
  transition: all .3s ease-in-out;
}

.description + .meta {
  padding-top: 0;
  margin-top: 0;
}

.testing .description + .meta {
  margin-top: 4px;
}

/*// Account Specific styles // --------------------------------------------------*/
.account {
  width: 100%;
  overflow: hidden;
}

.hovercard__box .account {
  width: 380px;
}

.content-container {
  position: relative;
  max-width: 100%;
  min-width: 640px;
  min-height: 520px;
  padding: 12px 12px 0 12px;
  text-align: left;
}

.content-container:empty {
  display: none;
}

.arrows {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: absolute;
}

.content-images .arrows {
  display: block;
}

.content-images .content-container,
.content-images .content-container-image {
  cursor: pointer;
}

.arrow-right,
.arrow-left {
  width: 42px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.arrow-left {
  background-image: url('../../assets/images/left-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.arrow-right {
  right: 0;
  left: inherit;
  background-image: url('../../assets/images/right-arrow.svg');
  background-position: right 11px center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: calc(100% - 70px);
}

.content-container:hover .arrow-right,
.content-container:hover .arrow-left {
  opacity: .2;
}

.content-container .arrow-left:hover,
.content-container .arrow-right:hover {
  opacity: .5;
}

.discussion {
  width: 100%;
  text-align: left;
  overflow: hidden;
  z-index: 999;
}

.discussion__body {

  /*background: #f0f0f0;*/
}

.box.hovercard__box .testing {
  overflow: hidden;
}

.testing {
  overflow: scroll;
  height: calc(100% - 49px);
}

.hovercard__box .content-container,
.hovercard__box .discussion {
  width: 9999px;
  max-width: 100%;
  min-width: inherit;
  min-height: inherit;
  height: inherit;
}

.discussion .meta-main-stats span {
  margin: 0 4px 0 0;
}

.discussion .comment-text {
  padding-left: 0;
}

.discussion .comment-image {
  margin: 0 16px 0 0;
}

.comment-replies {
  border-left: 2px solid rgba(0, 0, 0, .1);
  margin: 0 12px;
}

.comment-replies .comment-replies {
  margin-right: 0px;
}

.comment-replies .comment-image {
  margin: 0 0 0 16px;
}

.discussion .comment-item {
  padding: 12px;
}

.comment-replies .comment-item {
  padding: 0;
}

.comment-replies {
  padding-bottom: 8px;
}

.comment-replies .comment-text {
  padding-left: 12px;
}

.comment-replies .comment-item:not(:last-of-type) {
  padding-bottom: 16px;
}

.account-content {
  max-width: 680px;
}

.box .account-cover {
  height: 227px;
  background-position: center;
  position: relative;
  background-size: cover;
}

.box .instagram-cover-images {
  width: 33.33%;
  height: 126.66666667px;
  background-position: center;
  background-size: cover;
}

.hovercard__box .account-cover {
  height: 126.66666667px;
}

.box .account-cover + .account-image {
  margin-top: -45px;
}

.box.hovercard__box .account-cover + .account-image {
  margin-top: -45px;
}

.box .account-image {
  margin-top: 16px;
}

.account-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid white;
  display: block;
  margin: auto;
  position: relative;
  background-size: cover;
  background-position: center;
}

.box.hovercard__box .account-image {
  width: 90px;
  height: 90px;
}

.account-name {
  margin: 20px 12px 0;
}

.account-image + .account-name {
  margin: 9px 12px 0;
}

.hovercard__box .account-name {
  margin: 16px 12px 10px;
}

.hovercard__box .account-name + .description {
  margin: 0;
  max-height: 120px;
  padding: 6px 12px 12px 12px;
}

.hovercard__box .account-image + .account-name {
  margin: 3px 12px 0;
}

.hovercard__box .account-image + .account-name + .description {
}

.account-name a {
  font-size: 22px;
  font-weight: 700;
}

.hovercard__box .account-name a {
  font-size: 16px;
}

.description {
  padding: 12px 12px 0 12px;
  width: 100%;
  max-height: 9999px;
  max-height: 69px;
  overflow: hidden;
  position: relative;
}

.expand-description {
  max-height: 9999px;
}

.description-title {
  font-size: 14px;
  color: rgba(0, 0, 0, .8);
  font-weight: 600;
}

.content-youtube {
}

.hovercard__box .content-reddit .description {
  max-height: 200px;
}

.content-reddit .description p {
  display: block;
}

.content-reddit .description ul {
  padding: 0;
}

.box h1 {
  line-height: 28px;
}

.box h2 {
  line-height: 22px;
}

.box h3 {
  line-height: 18px;
}

.hovercard__box .discussion .description {
  margin-top: 12px;
}

.hovercard__box .content {
  background-color: rgba(255, 255, 255, .1);
}

.hovercard__box .content-container + .description {
  margin: 12px 12px 0px;
}

.content-container-image {
  max-width: 100%;
  display: block;
  margin: auto;
}

.content-images .content-container {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 12px;
}

.carousel-container {
  position: relative;
}

.carousel-container,
.content-container-image {
  user-select: none;
}

.content-container-text {
  text-align: left;
  width: 100%;
  padding: 12px 0;
}

.content-container-text p,
.content-container-text b {
  color: rgba(0, 0, 0, .8);
  font-size: 14px;
}

.content-container-text b {
  font-weight: bold;
}

.hovercard__box .network {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: top;
}

/*//icons and images// ---------------------------------------------*/
.comment-item_retweet .comment-image a:after,
.verified,
.loading {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.comment-item_retweet .comment-image a:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  background-image: url("../../assets/images/twitter-retweet.svg");
  width: 18px;
  height: 18px;
  background-color: #19cf86;
  border-radius: 50%;
  background-size: 70%;
}

.verified {
  display: inline-block;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin-left: 8px;
  background-image: url("../../assets/images/verified.svg");
}

.box.hovercard__box .verified {
  width: 16px;
  height: 16px;
  margin-left: 6px;
}

.box.hovercard__box .loading,
.loading {
  width: 32px;
  height: 32px;
  background-image: url("../../assets/images/loading.gif");
  display: block;
  opacity: .7;
  margin: 16px auto;
}

/*//Transitions// ---------------------------------------------*/
.account-cover,
.description,
.account-name a,
.account-image a,
.account {
}

/*//Image Content// ---------------------------------------------*/
.image-container {
  display: flex;
  align-items: top;
  justify-content: left;
  flex-wrap: wrap;
  padding: 20px;
}

.image-container a {
  display: block;
}

.image-container a span {
  font-size: 14px;
  display: inline-block;
  margin: 8px 0 2px;
  max-height: 32px;
  overflow: hidden;
  color: #2676d6;
  font-weight: 600;
}

.image-item-stats span {
  font-size: 14px;
}

.image-item {
  width: 33.33%;
  padding-right: 6px;
  margin-bottom: 10px;
}

.image-item-square {
  width: 100%;
}

.image-item-square div {
  height: 204px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.image-item img {
  width: 100%;
}

.image-item:nth-of-type(3n - 1) {
  padding-right: 3px;
  padding-left: 3px;
}

.image-item:nth-of-type(3n) {
  padding-left: 6px;
  padding-right: 0;
}

/*//Comments// ---------------------------------------------*/
.comment-item {
  display: flex;
  justify-content: left;
  padding: 16px 20px;
}

.tweet-conversation {
  background-color: rgba(0, 0, 0, .05);
}

.tweet-conversation + .tweet-conversation {
  margin-top: 8px;
}

.comment-image {
  width: 44px;
  height: 44px;
}

.comment-image a {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.comment-image a.comment-image-empty {
  background-image: url('../../assets/images/missing-image.png');
}

.comment-text {
  width: 100%;
  padding-left: 16px;
}

.comment-text a {
  font-size: 14px;
  font-weight: bold;
}

.comment-text p {
  margin: 2px 0 4px;
}

.comment-text span + span {
  margin-left: 6px;
}

.comment-text-image {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  margin: 6px 0;
  display: inline-block;
}

.comment-text-image a {
  padding: 12px;
  display: block;
  cursor: pointer;
}

.comment-text-image a:hover {
  text-decoration: underline;
}

.comment-text-image img,
.comment-text-image video {
  max-width: 100%;
  position: relative;
  display: block;
}

.comment-text-image img + img {
  margin-top: 4px;
}

.comment-text p a {
  color: #0084b4;
}

.comment-text-quote {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 12px;
}

.comment-text-quote .comment-item,
.comment-text-quote .comment-text {
  padding: 0;
  margin: 0;
}

/*//Content Card Top// ---------------------------------------------*/
.box.hovercard__box .content-account {
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.content-account-image {
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin-right: 6px;
}

.box.hovercard__box .content-account-image {
  width: 28px;
  height: 28px;
}

.box.hovercard__box .content-account-name {
  font-size: 14px;
}

.box.hovercard__box .content-account + .description {
  margin-top: 0;
}

/*//Tabs// ---------------------------------------------*/
.tabs {
  display: static;
}

.tabs .tabs__tab {
  margin: 0 4px;
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
  color: rgba(0, 0, 0, .5);
}

.tabs .tabs__tab:first-of-type {
  margin-left: 0;
}

.tabs .tabs__tab_selected {
  color: black;
}

/*//Account Switcher// ---------------------------------------------*/
.account-switcher {
  padding: 12px;
  background: #f0f0f0;
}

.account-switcher span {
  @extend .tabs .tabs__tab;
  cursor: auto;
}

/*//Reddit Post// ---------------------------------------------*/
.post-item {
  padding: 16px 20px 0;
}

.post-item:last-of-type {
  padding-bottom: 20px;
}

.post-item-title a,
.post-item-reply-title a {
  font-size: 14px;
  font-weight: 400;
}

.post-item-link {
  margin-top: 4px;
}

.post-item-link a {
  color: black;
  font-weight: 400;
  font-size: 14px;
}

.post-item-paragraph {
  border-left: 2px solid rgba(0, 0, 0, .1);
  padding: 4px 0 4px 12px;
  margin-top: 4px;
}

/*content layouts*/
.content-image,
.content-images,
.content-gif,
.content-video {
  position: relative;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 99;
}

.content-text .content,
.content-video .content,
.content-image .content,
.content-images .content,
.content-youtube .content {
  min-height: 140px;
  min-width: 500px;
}

.account-youtube,
.account-twitter,
.account-soundcloud,
.account-instagram {
  min-height: 140px;
}

.account-reddit,
.account-imgur {
  min-height: 88px;
}

.loading-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-undefined .discussion {
  display: none;
}

.content-container-video {
  width: 100%;
  height: 293px;
}

.hovercard__box .content-container-video {
}

.hovercard__box .content-text .description {
  padding-top: 10px;
  margin-top: 0;
}

.discussion .error .error-image {
  display: none;
}

.discussion .error b {
  text-align: left;
}

.hovercard__box .content-soundcloud .content-container-image {
  max-width: 200px;
}

.hovercard__box .content-text .content-container {
  background: white;
}

.error {
  max-width: 680px;
  padding: 16px 12px;
}

.hovercard__box .error {
}

.box .error-image:hover {
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-name: shake;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  2% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg);
  }

  4% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }

  6% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg);
  }

  8% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg);
  }

  10% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg);
  }

  12% {
    transform: translate(-1.5px, 2.5px) rotate(-0.5deg);
  }

  14% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }

  16% {
    transform: translate(-1.5px, -1.5px) rotate(0.5deg);
  }

  18% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }

  20% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg);
  }

  22% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }

  24% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }

  26% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg);
  }

  28% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
  }

  30% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg);
  }

  32% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg);
  }

  34% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }

  36% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg);
  }

  38% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }

  40% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg);
  }

  42% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }

  44% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg);
  }

  46% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
  }

  48% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
  }

  50% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg);
  }

  52% {
    transform: translate(-1.5px, 2.5px) rotate(-0.5deg);
  }

  54% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
  }

  56% {
    transform: translate(1.5px, 0.5px) rotate(0.5deg);
  }

  58% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }

  60% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }

  62% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
  }

  64% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg);
  }

  66% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg);
  }

  68% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg);
  }

  70% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }

  72% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }

  74% {
    transform: translate(0.5px, 1.5px) rotate(-0.5deg);
  }

  76% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }

  78% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }

  80% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg);
  }

  82% {
    transform: translate(0.5px, 1.5px) rotate(0.5deg);
  }

  84% {
    transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
  }

  86% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
  }

  88% {
    transform: translate(0.5px, 2.5px) rotate(-0.5deg);
  }

  90% {
    transform: translate(2.5px, 1.5px) rotate(1.5deg);
  }

  92% {
    transform: translate(-1.5px, -1.5px) rotate(0.5deg);
  }

  94% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }

  96% {
    transform: translate(-0.5px, -1.5px) rotate(0.5deg);
  }

  98% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }

  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

.hovercard__box .error-image {
  margin-right: 12px;
  background: url('../../assets/images/hovercards-error.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
  margin: auto;
}

.error b,
.error p {
  display: block;
  text-align: center;
}

.box .signin-cta {
  background-color: #185688;
  background-position: 10px 50%;
  margin-top: 10px;
  background-size: 16px;
  color: white;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 6px 8px 6px 30px;
  font-size: 14px;
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
}

.share-facebook {
  background: url('../../assets/images/facebookshare.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.share-twitter {
  background: url('../../assets/images/twittershare.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.share-button {
  height: 21px;
  width: 21px;
  margin-left: 8px;
  opacity: .7;
}

.share-button:hover {
  opacity: 1;
}

.collapsed-description {
  position: relative;
  cursor: pointer;
}

.hovercard__box .collapsed-description:after {
  content: "Read More";
  width: 120px;
  height: 20px;
  padding-right: 12px;
  right: 0;
  top: 50px;
  color: rgba(0, 0, 0, .6);
  cursor: pointer;
  text-align: right;
  display: block;
  position: absolute;
  font-size: 14px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 28%, rgba(255, 255, 255, 1) 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hovercard__box .content-reddit .collapsed-description:after {
  top: 180px;
}

.hovercard__box .content-reddit .expand-description,
.expand-description {
  max-height: inherit;
}

.notification {
  padding: 36px;
  margin: 12px 12px 0 12px;
  text-align: center;
  border-radius: 3px;
  color: black;
  background: #f0f0f0;
  background-image: url("../../assets/images/carlito-corner.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.box.hovercard__box p.notification-message {
  display: block;
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 12px;
  color: #434343;
}

.box a.notification-link {
  background: #b965fd;
  padding: 10px 32px;
  color: white;
  display: inline-block;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

.box a.notification-link:hover {
  opacity: .86;
}

.box a.notification-cancel {
  padding: 10px 0px 10px 16px;
  color: #b965fd;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
}

.box a.notification-cancel:hover {
  opacity: .86;
}
