root = true

[*]
indent_style = tab
trim_trailing_whitespace = true

[*.json]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true

[*.*{rc,config}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true

[*.{css,md,yml}]
indent_size = 2
indent_style = space
