.discussions-container {
  height: inherit;
  max-width: 100%;
  min-height: inherit;
  min-width: inherit;
  overflow: hidden;
  text-align: left;
  width: 9999px;
  z-index: 999;
}

.discussions {
  overflow: hidden;
  height: calc(100% - 49px);
}

.tabs-container {
  background: #f0f0f0;
  composes: flex-spread from '../flex.styles';
  padding: 12px;
}

.tabs {
  display: static;
}

.tab {
  color: rgba(0, 0, 0, .5);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin: 0 4px;

  &:first-of-type {
    margin-left: 0;
  }

  &.selected {
    color: black;
  }
}
