.discussions-container {
  height: inherit;
  max-width: 100%;
  overflow: hidden;
  text-align: left;
  width: 9999px;
  z-index: 999;
}

.discussions {
  overflow: hidden;
  height: calc(100% - 49px);
}

.tabs-container {
  background: #f0f0f0;
  padding: 12px 24px;

  @raw  {
    composes: flex-spread from '../flex.styles';
  }
}

.tabs {
  display: static;
}

.tab {
  color: rgba(0, 0, 0, .66);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin: 0 4px;
  font-size: 15px;

  &:first-of-type {
    margin-left: 0;
  }

  &.selected {
    color: rgba(0,0,0,.8);
  }
}
