/* FIXME Find a better way to do global styles */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #eceef1;
}

.integration-options {
  background-color: #eceef1;
  padding: 5px;
}

.save-button {
  background: #349cef;
  border-radius: 30px;
  border: 0;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 8px auto;
  outline: 0;
  padding: 12px;
  text-align: center;
  text-shadow: none;
  transition: all .1s ease-in-out;
  width: 150px;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.05);
  }

  &.settings-saved {
    background: #4cbb91;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
    cursor: default;
    transform: scale(1);
  }

  &.settings-error {
    background: #e94639;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
    cursor: default;
    transform: scale(1);
  }
}
