.pls-contentLeft {
	background-image: url(https://ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/border_3.gif) !important;
}
.pls-dropRight {
	background-image: url(https://ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleDropR_3.png) !important;
}
.pls-dropBottom {
	background-image: url(https://ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleDropB_3.png) !important;
}
.pls-dropBL {
	background-image: url(https://ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleSprite_3.png) !important;
}
.tbl-grey .pls-dropBL {
	background-image: url(https://ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleSprite-grey.png) !important
}
