.hovercard {
    @extend box-thing;
    pointer-events: none;
}

.hovercard__box {
    @extend box-thing__box;
    cursor: pointer;
    margin: 0;
    pointer-events: auto;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}
