.header {
  @raw  {
    composes: flex-spread from '../flex.styles';
  }
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.image {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 28px;
  margin-right: 6px;
  width: 28px;
}

.name-container {
  @raw  {
    composes: flex-grow from '../flex.styles';
  }
}

.name {
  font-size: 14px;
}

.share {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 21px;
  margin-left: 8px;
  opacity: .7;
  width: 21px;

  &:hover {
    opacity: 1;
  }
}

.share-on-facebook {
  @raw  {
    composes: share;
  }
  background-image: url('../../assets/images/facebookshare.png');
}

.share-on-twitter {
  @raw  {
    composes: share;
  }
  background-image: url('../../assets/images/twittershare.png');
}
