<html ng-csp>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="styles/angular-csp.css">
	<link rel="stylesheet" href="styles/sidebar.css">
	<link rel="stylesheet" href="styles/material-design-iconic-font.min.css">
</head>
<body class="ng-cloak hovercard" ng-cloak>
	<div ng-controller="EntryController">
		<img src="images/loading.png" class="hovercards-loading" ng-show="service.loading.length">
		<div ng-if="entry.type === 'content'" ng-controller="ContentController">
			<div ng-if="data.content.$resolved || data.content.$err">
				<div ng-include="'templates/' + data.content.api + '_content_hovercard.html'"></div>
			</div>
		</div>

		<div ng-if="entry.type === 'account'" class="profile" ng-controller="AccountController">
			<div ng-if="data.account.$resolved || data.account.$err">
				<div ng-include="'templates/' + data.account.api + '_account_hovercard.html'"></div>
			</div>
		</div>
	</div>
	<script src="scripts/hovercard-main.js"></script>
</body>
</html>

