<html ng-csp>
<head>
	<link rel="stylesheet" href="styles/angular-csp.css">
	<link rel="stylesheet" href="styles/slick.css">
	<link rel="stylesheet" href="styles/trigger-styles.css">
	<link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="styles/material-design-iconic-font.min.css">
</head>
<body class="ng-cloak" ng-cloak ng-controller="EntryController" ng-class="{ 'fullscreen-active': entry.fullscreen }">
	<div>
		<div class="fade-out-animation" ng-show="data.loading">
			<div class="loader">
				<div class="colored"></div>
			</div>
		</div>
		<div class="fade-out-animation" ng-controller="PeopleController" ng-if="entry && !entry.err">
			<div ng-controller="ContentController" in-view="at.content=$inview">
				<div class="card bounce-in-animation" ng-if="data.content.$resolved">
					<div ng-include="'templates/' + data.content.api + '_content.html'" ng-if="!data.content.$err"></div>

					<div error ng-if="data.content.$err" ng-switch="data.content.$err.status">
						<span ng-switch-default>There was a problem with the content!</span>
					</div>
				</div>
			</div>

			<div ng-controller="DiscussionController" in-view="at.discussion=$inview" in-view-options="{offsetBottom:100,offsetTop:0}">
				<div class="card bounce-in-animation" ng-if=":: data.discussion.$resolved || undefined">
					<div class="comment-top">
						<div class="row">
							<div class="col-9">
								<span>{{ data.discussion.api + '_discussion' | copy }} ({{ data.discussion.count | numsmall }})</span>
							</div>
							<div class="col-3">
								<i class="md md-more-vert" ng-click="entry.showMenu = !entry.showMenu"></i>
							</div>

							<div class="col-12">
								<div ng-include="'templates/' + data.discussion.api + '_discussion_header.html'" ng-if="data.discussion.$resolved && !data.discussion.$err && data.discussion.api === 'reddit'"></div>
							</div>

						</div>
						<div class="menu" ng-show="entry.showMenu">
							<div class="menu-description" stored="hide_menu_description" name="hide-menu-description" ng-show="!hide_menu_description">
								<div class="row">
									<div class="col-10">
										<p>Drag your favourite comment community to the top, and we'll show it to you first next time!</p>
									</div>
									<div class="col-2" ng-click="hide_menu_description = true">
										<i class="md md-close"></i>
									</div>
								</div>
							</div>
							<ul id="sortable" sortable stored="order" name="order" default="[]">
								<li class="ui-state-default rippleblack" ng-class="{ selected: (entry.discussion || entry.discussions[0]) === discussion_choice }" ng-click="entry.discussion = discussion_choice" ng-repeat="discussion_choice in entry.discussions">
									<b ng-click="$event.stopPropagation();"></b>
									<span>{{ discussion_choice.api + '_discussion' | copy }}</span>
								</li>
							</ul>
						</div>
					</div>
					<div ng-include="'templates/' + data.discussion.api + '_discussion.html'" ng-if="data.discussion.$resolved && !data.discussion.$err"></div>

					<div error ng-if="data.discussion.$err" ng-switch="data.discussion.$err.status">
						<span ng-switch-default>There was a problem with the discussion!</span>
					</div>
				</div>
			</div>

			<div class="people-card-space" in-view="at.people=$inview" scroll-periodically="!data.people.length">
				<div class="card bounce-in-animation people-card" ng-if="data.people.length" ng-class="{ 'people-card-fixed': entry.type === 'account' || (!at.content && !at.discussion) }">
					<div ng-init="(person=data.people[0]) && (entry.selectedPerson = person)" ng-include="'templates/' + person.selectedAccount.api + '_account.html'" ng-if="!data.people.$err && data.people.length === 1"></div>
					<div people-carousel="data.people" current="entry.selectedPerson" ng-if="!data.people.$err && data.people.length > 1"></div>

					<div error ng-if="data.people.$err" ng-switch="data.people.$err.status">
						<span ng-switch-default>There was a problem with the people!</span>
					</div>
				</div>
			</div>
		</div>
		<div class="network-menu-space">
			<div class="network-menu" ng-class="{ 'network-menu-fixed': entry.type === 'account' || (!at.content && !at.discussion) }">
				<div class="network-menu-container" ng-class="'network-menu-size-' + entry.selectedPerson.accounts.length" ng-if="entry.selectedPerson.accounts.length">
					<div class="network-menu-option" ng-class="account.type + '-option'" ng-style="{ left: ((-100 * entry.selectedPerson.menuOffset) || 0) + 'px' }" ng-repeat="account in entry.selectedPerson.accounts" ng-click="entry.selectedPerson.selectedAccount = account">
						<span ng-class="account === entry.selectedPerson.selectedAccount && 'active'">{{ account.api | copy }}</span>
					</div>
				</div>
				<div ng-show="entry.selectedPerson.menuOffset" ng-click="entry.selectedPerson.menuOffset = (entry.selectedPerson.menuOffset || 0) - 3">Left</div>
				<div ng-show="entry.selectedPerson.menuOffset + 3 < entry.selectedPerson.accounts.length" ng-click="entry.selectedPerson.menuOffset = (entry.selectedPerson.menuOffset || 0) + 3">Right</div>
			</div>
		</div>

		<div class="social-profile">
			<div ng-if="entry.selectedPerson.selectedAccount.description">
				<p class="social-profile-description" readmore="entry.selectedPerson.selectedAccount.description | linky" style="max-height: 100px"></p>
			</div>
			<div ng-controller="MoreContentController" ng-if="entry.selectedPerson.selectedAccount">
				<div ng-if="data.moreContent.$resolved">
					<div ng-include="'templates/' + data.moreContent.api + '_more_content.html'" ng-if="!data.moreContent.$err"></div>

					<div error ng-if="data.moreContent.$err" ng-switch="data.moreContent.$err.status">
						<span ng-switch-default>There was a problem with the more content!</span>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="entry && entry.err">
			Something went wrong!
		</div>
	</div>

	<link rel="stylesheet" href="styles/subscribe-fix-style.css">
	<script src="https://apis.google.com/js/platform.js"></script>
	<script src="scripts/sidebar-main.js"></script>
	<script src="scripts/everywhere-main.js"></script>
</body>
</html>
