<html ng-csp>
<head>
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/material-design-iconic-font.min.css">

</head>
<body>
    <div class="card-container">
        <div ng-controller="CardsController" ng-cloak class="ng-cloak">
            <div ng-repeat="cards in cardGroups" class="cards bounce-out-animation">
                <div ng-repeat="card in cards | orderBy:'+priority'" ng-include="'cards/' + card.content + '-card.html'" class="bounce-in-animation">
                        {{ card }}
                </div>
            </div>
        </div>
    </div>
    <script src="bower_components/requirejs/require.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/main-sidebar.js"></script>
</body>
</html>
