.condensed {
  br {
    display: none;
  }
  * {
    font-size: 14px;
  }

  del {
    text-decoration: line-through;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  blockquote,
  h1,
  h2,
  h3,
  li,
  ul {
    display: block; /* no important */
  }

  blockquote {
    padding: 6px 12px;
    border-left: 2px solid rgba(0, 0, 0, .2);
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  pre {
    background: rgba(0, 0, 0, .1);
    border-left: 3px solid rgba(0, 0, 0, .1);
    display: block;
    font-family: monospace !important;
    padding: 6px 12px;
    white-space: pre;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
  }

  th,
  td {
    display: table-cell;
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
  }

  th:first-of-type {
    border-left-width: 0;
  }

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: rgba(0, 0, 0, .1);
    color: #000000;
    text-align: left;
    vertical-align: bottom;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  p {
    display: block;
    color: rgba(0, 0, 0, .66);
    font-size: 15px;
    line-height: 1.45;
  }

  pre {
    display: block;
    padding: 10px;
    background-color: #fafafa;
    border-left: 2px solid #eceef1;

    code {
      color: rgba(0, 0, 0, .66);
      font-size: 15px;
      line-height: 1.45;
    }
  }

}
