.comment {
  display: flex;
  justify-content: left;
  padding: 12px;
}

.account-image-container {
  height: 44px;
  margin: 0 16px 0 0;
  width: 44px;
}

.account-image {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: block;
  height: 44px;
  position: relative;
  width: 44px;

  &.empty {
    background-image: url('../../assets/images/missing-image.png');
  }
}

.account-name {
  font-size: 14px;
  font-weight: bold;
}

.description {
  padding-left: 0;
  width: 100%;
}

.text {
  margin: 2px 0 4px;

  a {
    color: #0084b4;
  }
}
