.content-footer {
  composes: flex-row from '../flex.styles';
  padding: 12px;
}

.stats-container {
  position: relative;
  width: 100%;
  height: 20px;
}

.stats {
  transition: all .3s ease-in-out;
}

.stat {
  line-height: 20px;
  margin: 0 6px 0 0;
}
