.comment-container {
  padding: 12px 24px;
}
.comment {
  display: flex;
  justify-content: left;
}
.comment:not(:first-of-type) {
}

.account-image-container {
  height: 44px;
  margin: 0 16px 0 0;
  width: 44px;
}

.account-image {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: block;
  height: 44px;
  position: relative;
  width: 44px;

  &.empty {
    background-image: url('../../assets/images/missing-image.png');
  }
}

.account-name {
  font-size: 15px;
  font-weight: normal;
  text-decoration: underline;
  color: rgba(0,0,0,.8);
}

.description {
  padding-left: 0;
  width: 100%;
}

.text {
  composes: condensed from '../no-formatting.styles';
  margin: 5px 0;
  display: block;
}

.stat {
  composes: flex-item from '../flex.styles';
  font-size: 15px;
  color: rgba(0,0,0,.6);
}
.stat-number {
  font-size: 15px;
  color: rgba(0,0,0,.8);
}

.replies {
  border-left: 3px solid rgba(0, 0, 0, .1);
  padding-left: 20px;
  margin-top: 20px;

  .comment-container {
    padding: 0;

    &:not(:last-of-type) {
      padding-bottom: 16px;
    }
  }

  .account-image-container {
    margin: 0 0 0 16px;
  }

  .description {
  }

  .replies {
    margin-right: 0px;
  }
}
