.lightbox {
    @extend box-thing;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    padding: 20px;
    position: fixed;
    top: 0;
}

.x-button {
    position: fixed;
    top: 0;
    right: 0;
    opacity: .6;
    color: white;
    width: 36px;
    height: 36px;
    z-index: 9999;
    background-image: url('../images/close-button.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom left;
    cursor: pointer;
}

.x-button:hover {
    opacity: 1;
}

.lightbox_leaving {
    animation: fade-out-animation .1s ease-in-out 1;
}

.lightbox__box {
    @extend box-thing__box;
    margin: auto;
    border-radius: 8px;
}

.lightbox-backdrop {
    animation: background-fade-in-animation .1s ease-in-out 1;
    background: rgba(0, 0, 0, 0.83);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2147483646;
}

.lightbox-backdrop_leaving {
    animation: background-fade-out-animation .1s ease-in-out 1;
}

/* https://trello.com/c/WCXvTm4h/235-scroll-to-close */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

@keyframes background-fade-in-animation {
    from {
        background: rgba(0, 0, 0, 0);
    }

    to {
        background: rgba(0, 0, 0, 0.83);
    }
}

@keyframes background-fade-out-animation {
    from {
        background: rgba(0, 0, 0, 0.83);
    }

    to {
        background: rgba(0, 0, 0, 0);
    }
}
