.media {
  composes: flex-row from '../flex.styles';
  height: inherit;
  max-width: 100%;
  min-height: inherit;
  min-width: inherit;
  padding: 12px 24px 0 24px;
  position: relative;
  text-align: left;
  width: 9999px;

  &:empty {
    display: none;
  }
}

.description {
  padding: 12px 0;
  text-align: left;
  width: 100%;
}

.text,
.name {
  color: rgba(0, 0, 0, .8);
  font-size: 14px;
}

.name {
  font-weight: bold;
}
