.name {
  font-size: 14px;
  color: rgba(0, 0, 0, .8);
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.description {
  margin-top: 0;
  max-height: 90px;
  padding: 12px 24px 0 24px;
  width: 100%;
}
