<span ng-message="forbidden" stored="user" name="{{ err.api }}_user">
	<span class="hovercards-message-content">
		<b>{{ (user ? 'authorize_for_forbidden_err_authorized_name' : 'authorize_for_forbidden_err_unauthorized_name') | copy:(err.api | copy):((err.api + '_account') | copy) }}</b>
		{{ (user ? 'authorize_for_forbidden_err_authorized_text' : 'authorize_for_forbidden_err_unauthorized_text') | copy:(err.api | copy):((err.api + '_account') | copy) }}
	</span>
	<div class="hovercards-message-option" ng-if="!user">
		<a authorize="err.api" on-authorized="err.reload()">Sign in with {{ err.api | copy }}</a>
	</div>
</span>
