<div ng-if="!data.account.$err" class="profile-card">
	<div class="profile-top row">
		<div class="profile-left col-3">
			<div class="profile-image network-circle-reddit"></div>
		</div>
		<div class="profile-right col-9">
			<a class="ellipsis">{{ data.account.id }}</a>
		</div>
	</div>

	<div class="card-stats row">
		<div class="col-4">
			<b>Link Karma</b>
			<span>{{ data.account.link_karma | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Cmnt Karma</b>
			<span>{{ data.account.comment_karma | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Account Age</b>
			<span>{{ data.account.date | timeSince:true }}</span>
		</div>
	</div>
</div>

<div ng-if="data.account.$err" class="hovercards-message-container error-message" ng-class="err.api && 'reddit-message'" ng-init="err = data.account.$err">
	<div class="hovercards-message-image"></div>
	<span class="hovercards-message-text" ng-messages="err">
		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
