<span ng-messages="err">
	<span ng-transclude></span>

	<!-- SERIOUS ERRORS -->
	<span ng-message="our-problem">
		<span class="yocards-message-content"><b><i class="md md-input"></i>{{ 'app_name' | copy }} Issue</b>Oh no! {{:: 'app_name' | copy }} is having problems right now.</span>
	</span>

	<span ng-message="dependency-down">
		<span class="yocards-message-content"><b><i class="md md-input"></i>{{ (api | copy) || 'Dependency' }} Issues</b>Oh no! {{ (api | copy) || 'One of our dependencies' }} is having problems right now.</span>
	</span>

	<!-- ERRORS -->
	<span ng-message="bad-input">
		<span class="yocards-message-content"><b><i class="md md-input"></i>Bad Content</b>This input be bad, yo!</span>
	</span>

	<span ng-message="no-content">
		<span class="yocards-message-content"><b><i class="md md-input"></i>Nothing Here</b>We couldn't find anything here!</span>
	</span>

	<span ng-message="unauthorized">
		<span class="yocards-message-content"><b><i class="md md-input"></i>Sign in Required</b>We're sorry but you must authorize {{:: 'app_name' | copy }} with your {{ api | copy }} account to see this!</span>
		<div class="yocards-message-option">
			<a authorize="api" on-authorized="reload()">Sign into {{ api | copy }}</a>
		</div>
	</span>
</span>
