<div class="no-comments">
	<p>
		<span err="err" api="{{ api }}" type="default" entry="entry">
			<!-- OVERRIDES -->
			<span ng-transclude></span>

			<!-- ERRORS -->
			<span ng-message="empty-content">It looks like there are no comments on this. <a ng-href="{{:: data.discussion | generateUrl }}" class="no-yo">Be the first to comment</a></span>
		</span>

		<span ng-if="entry.discussions.length > 1">
			See what people are saying on <a ng-click="entry.showMenu=true">other networks!</a>
		</span>
	</p>
</div>
