<div class="yocards-message-container error-message">
	<div class="yocards-message-image"></div>
	<div class="yocards-message-text" err="err" api="{{ api }}" type="default" entry="entry">
		<!-- OVERRIDES -->
		<span ng-transclude></span>

		<span ng-message="no-content">
			<span class="yocards-message-content"><b><i class="md md-error"></i>Error! Error!</b>We searched all over, but couldn't find anything here</span>
			<div class="yocards-message-option">
				<a href="#">Give us feedback</a>
			</div>
			<div class="yocards-message-option">
				<a href="#">Send us an angry tweet</a>
			</div>
		</span>
	</div>
</div>
