<!-- Serious Errors -->
<span ng-message="our-problem">Oh no! {{ 'app_name' | copy }} is having problems right now.</span>
<span ng-message="dependency-down">Oh no! One of our dependencies is having problems right now.</span>

<!-- Errors -->
<span ng-message="bad-input">This input be bad, yo</span>

<div  ng-message="no-content" class="yocards-error-container">
	<div class="yocards-error-image"></div>
	<div class="yocards-error-text">
		<span><b><i class="md md-error"></i>Error! Error!</b>We searched all over, but couldn't find anything here</span>
		<div class="yocards-error-option">
			<a href="#">Give us feedback</a>
		</div>
		<div class="yocards-error-option">
			<a href="#">Send us an angry tweet</a>
		</div>
	</div>
</div>