<div ng-if="!data.content.$err" class="hovercardrow">
	<div ng-if="data.content.image" class="col-6 image-hovercard" ng-style="{ 'background-image': 'url(' + (data.content | imgurImage:'m') + ')' }">
		<div ng-if="data.content.video" class="image-play"><i class="zmdi zmdi-play"></i></div>
	</div>
	<div ng-if="data.content.images.length" class="col-6 image-hovercard" ng-style="{ 'background-image': 'url(' + (data.content.images[0] | imgurImage:'m') + ')' }"><div class="image-numbers"><i class="zmdi zmdi-collection-image"></i> {{:: data.content.images.length }}</div></div>
	<div class="image-hovercard-copy col-6">
		<div class="flexin">
			<b class="ellipsis"> {{ data.content.author.id }}</b>
			<h1 ng-if="data.content.name.length" collapse-at="21 * 2" collapse="data.content.name"></h1>
			<p ng-if="!data.content.name.length && data.content.description.length" collapse-at="19 * 2" collapse="data.content.description"></p>
		</div>
		<div class="hiddenrow cardstatsmini">
			<div class="col-8">
			<b>Views</b>
			<span>{{ data.content.views | numsmall }}</span>
			</div>
			<div class="col-4">
				<div class="network-holder" ng-controller="DiscussionController">
					<div class="profile-network network-circle-imgur"></div>
					<div ng-if="data.discussion_count === 1" class="additional-networks one-network" ng-class="'network-circle-' + data.discussion_api"> Comments</div>
					<div ng-if="data.discussion_count > 1" class="additional-networks">+{{ data.discussion_count }} Comment Sources</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="yocards-message-container error-message" ng-class="err.api && 'imgur-message'" ng-if="data.content.$err" ng-init="err = data.content.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="err">
		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
