<div class="content-top" ng-class="{ 'content-top-active': view.fullscreen === data.content.images }" ng-click="view.fullscreen=(view.fullscreen === data.content.images) ? null : data.content.images">
	<img data-lazy="{{:: image.image }}" ng-if="$index !== 0 && $index !== 1" ng-show="!image.video || data.content.current_slide !== $index || view.fullscreen" on-image-load="(data.content.current_slide === $index) && redoHeight()">
	<img ng-src="{{:: image.image }}" ng-if="$index === 0 || $index === 1" ng-show="!image.video || data.content.current_slide !== $index || view.fullscreen" on-image-load="(data.content.current_slide === $index) && redoHeight()">
	<video video-src="{{ image.video }}" ng-if=":: (image.video && data.content.current_slide === $index) || undefined" ng-show="data.content.current_slide === $index && !view.fullscreen" autoplay loop on-video-load="(data.content.current_slide === $index) && redoHeight()"></video>
</div>
<div class="card-text album-text" ng-if=":: image.description">
	<a ng-href="{{:: image | generateUrl }}" class="no-yo">{{:: image.name }}</a>
	<div class="card-description">
		<p readmore=":: image.description" cutoff-height="80" on-readmore="redoHeight()"></p>
	</div>
</div>
