<div class="content-cards" ng-if="!data.moreContent.$err">
	<div ng-repeat="post in data.moreContent.content" class="col-4 content-cards-blocks">
		<a class="content-cards-blocks-holder" ng-href="{{:: post | generateUrl }}">
			<img ng-src="{{:: post.image }}">
		</a>
	</div>
</div>

<div class="hovercards-message-container error-message" ng-class="err.api && 'imgur-message'" ng-if="data.moreContent.$err" ng-init="err = data.moreContent.$err">
	<div class="hovercards-message-image"></div>
	<span class="hovercards-message-text" ng-messages="err">
		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
