<div ng-if="!data.content.$err">
	<div class="context-top">
		<div class="share-container" share-page=":: data.content"></div>
		<div class="row">
			<div class="col-10">
				<div class="network-pick">
					<div class="network-circle network-circle-imgur"></div>
				</div>
				<span class="ellipsis">
					Posted by
					<a ng-if="data.content.author" ng-href="{{:: data.content.author | generateUrl }}" class="no-yo">{{:: data.content.author.id }}</a>
					<span ng-if="!data.content.author">anon</span>
				</span>
			</div>
			<div class="col-2">
				<span><a ng-href="{{:: data.content | generateUrl }}" class="no-yo">{{:: data.content.date | timeSince:true }}</a></span>
			</div>
			<div class="col-12" ng-if=":: data.content.name">
				<div class="video-title">
					<a ng-href="{{:: data.content | generateUrl }}" class="no-yo">{{:: data.content.name }}</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Album -->
	<div ng-if=":: data.content.images">
		<div ng-carousel="data.content.images" slide="data.content.slide" selected="selected_item" weird-dots="true">
			<div class="content-top" ng-click="view.fullscreen=(view.fullscreen === data.content) ? null : data.content" ng-style="{ cursor: (view.fullscreen === data.content) ? 'zoom-out' : 'zoom-in' }">
				<img data-lazy="{{:: $item.image }}" ng-if=":: !$first && !$second" ng-show="!$item.video || !$selected || view.fullscreen" on-image-load="redoHeight()">
				<img ng-src="{{:: $item.image }}" ng-if=":: $first || $second" ng-show="!$item.video || !$selected || view.fullscreen" on-image-load="redoHeight()">
				<video video-src="{{:: $item.video }}" ng-if=":: ($item.video && $selected) || undefined" ng-show="$selected && !view.fullscreen" autoplay loop on-video-load="redoHeight()"></video>
			</div>
			<div class="card-text album-text" ng-if=":: $item.description">
				<a ng-href="{{:: $item | generateUrl }}" class="no-yo">{{:: $item.name }}</a>
				<div class="card-description">
					<p collapse=":: $item.description" collapse-at="19 * 4" tolerance="19 * 2" recollapse-at="19 * 10" on-height-change="redoHeight()"></p>
				</div>
			</div>
		</div>
		<div class="fullscreen-image" ng-show="view.fullscreen === data.content" ng-click="view.fullscreen=null">
			<img ng-src="{{ selected_item.image }}" ng-if="!selected_item.video">
			<video video-src="{{ selected_item.video }}" autoplay loop ng-if="selected_item.video"></video>
		</div>
	</div>

	<!-- Gif -->
	<div ng-if=":: data.content.video" class="twitter-video">
		<div class="video-top" ng-class="{ 'fullscreen-trigger': view.fullscreen === data.content }" ng-click="view.fullscreen=(view.fullscreen === data.content) ? null : data.content" ng-style="{ cursor: (view.fullscreen === data.content) ? 'zoom-out' : 'zoom-in' }">
			<div class="video-image">
				<video video-src="{{:: data.content.video }}" autoplay loop></video>
			</div>
		</div>
		<div class="video-top-underlay" ng-click="view.fullscreen=null" style="cursor: zoom-out">
			<img class="video-image" ng-src="{{:: data.content.image }}">
		</div>
	</div>

	<!-- Image -->
	<div ng-if=":: data.content.image && !data.content.video">
		<div class="content-top" ng-click="view.fullscreen=(view.fullscreen === data.content) ? null : data.content" ng-style="{ cursor: (view.fullscreen === data.content) ? 'zoom-out' : 'zoom-in' }">
			<img ng-src="{{:: data.content.image }}">
		</div>
		<div class="fullscreen-image" ng-show="view.fullscreen === data.content" ng-click="view.fullscreen=null">
			<img ng-src="{{:: data.content.image }}">
		</div>
	</div>

	<div class="card-text" ng-if=":: data.content.description" ng-show="data.content.image || data.content.slide === 0 || data.content.slide === data.content.images.length - 1">
		<div class="card-description">
			<p collapse=":: data.content.description" collapse-at="19 * 4" tolerance="19 * 2" recollapse-at="19 * 10"></p>
		</div>
	</div>
	<div class="card-stats inline-row">
		<div class="col-4" ng-class="{ 'not-available': data.content.score === undefined || data.content.score === null }">
			<b>Points</b>
			<span>{{:: data.content.score | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Views</b>
			<span>{{:: data.content.views | numsmall }}</span>
		</div>
		<div class="col-4" ng-if=":: data.content.filesize">
			<b>Size</b>
			<span>{{:: data.content.filesize | filesize }}</span>
		</div>
		<div class="col-4" ng-if=":: data.content.images">
			<b>Images</b>
			<span>{{:: data.content.images.length }}</span>
		</div>
	</div>
</div>

<div class="yocards-message-container error-message" ng-class="err.api && 'imgur-message'" ng-if="data.content.$err" ng-init="err = data.content.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="err">
		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
