<div ng-if="!data.content.$err">
	<div class="context-top">
		<div class="share-container" share-page=":: data.content"></div>
		<div class="row">
			<div class="col-10">
				<div class="network-pick">
					<div class="network-circle network-circle-imgur"></div>
				</div>
				<span class="ellipsis">
					Posted by
					<a ng-if="data.content.author" ng-href="{{:: data.content.author | generateUrl }}" class="no-yo">{{:: data.content.author.id }}</a>
					<span ng-if="!data.content.author">anon</span>
				</span>
			</div>
			<div class="col-2">
				<span><a ng-href="{{:: data.content | generateUrl }}" class="no-yo">{{:: data.content.date | timeSince:true }}</a></span>
			</div>
			<div class="col-12" ng-if=":: data.content.name">
				<div class="video-title">
					<a ng-href="{{:: data.content | generateUrl }}" class="no-yo">{{:: data.content.name }}</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Album -->
	<div imgur-album-dots class="imgur-dots" ng-if=":: data.content.images"></div>
	<div imgur-album-carousel ng-if=":: data.content.images"></div>
	<div class="fullscreen-image" ng-if="data.content.images && view.fullscreen === data.content.images" ng-click="view.fullscreen=null">
		<img ng-src="{{ data.content.images[data.content.current_slide || 0].image }}" ng-if="!data.content.images[data.content.current_slide || 0].video">
		<video video-src="{{ data.content.images[data.content.current_slide || 0].video }}" autoplay loop ng-if="data.content.images[data.content.current_slide || 0].video"></video>
	</div>

	<!-- Image/Gifs -->
	<div class="content-top" ng-class="{ 'content-top-active': view.fullscreen === (data.content.video || data.content.image) }" ng-click="view.fullscreen=(view.fullscreen === (data.content.video || data.content.image)) ? null : (data.content.video || data.content.image)">
		<img ng-src="{{:: data.content.image }}" ng-show="!data.content.video || view.fullscreen">
		<video video-src="{{:: data.content.video }}" autoplay loop ng-if=":: data.content.video" ng-show="!view.fullscreen"></video>
	</div>
	<div class="fullscreen-image" ng-if="view.fullscreen === (data.content.video || data.content.image)" ng-click="view.fullscreen=null">
		<img ng-src="{{:: data.content.image }}" ng-if=":: !data.content.video">
		<video video-src="{{:: data.content.video }}" autoplay loop ng-if=":: data.content.video"></video>
	</div>

	<div class="card-text" ng-if=":: data.content.description" ng-show="data.content.image || (data.content.current_slide || 0) === 0 || (data.content.current_slide || 0) === data.content.images.length - 1">
		<div class="card-description">
			<p readmore=":: data.content.description" cutoff-height="80"></p>
		</div>
	</div>
	<div class="card-stats inline-row">
		<div class="col-4" ng-class="{ 'not-available': data.content.score === undefined || data.content.score === null }">
			<b>Points</b>
			<span>{{:: data.content.score | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Views</b>
			<span>{{:: data.content.views | numsmall }}</span>
		</div>
		<div class="col-4" ng-if=":: data.content.filesize">
			<b>Size</b>
			<span>{{:: data.content.filesize | filesize }}</span>
		</div>
		<div class="col-4" ng-if=":: data.content.images">
			<b>Images</b>
			<span>{{:: data.content.images.length }}</span>
		</div>
	</div>
</div>

<div class="yocards-message-container error-message" ng-class="err.api && 'imgur-message'" ng-if="data.content.$err" ng-init="err = data.content.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="err">
		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
