<div class="soundcloud-profile">
	<div class="row">
		<div class="col-2">
			<img src="https://i1.sndcdn.com/artworks-000103332085-59rey7-t120x120.jpg">
		</div>
		<div class="col-10">
			<a href="#" class="ellipsis">Martin Solveig & GTA "Intoxicated" Martin Solveig & GTA "Intoxicated"</a>
			<b><i class="zmdi zmdi-play"></i> <span>2,125,414</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-favorite"></i> <span>213</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-refresh-alt"></i> 111</b>
		</div>
	</div>
	<div class="row soundcloud-playlist">
		<div class="col-2">
			<img src="https://i1.sndcdn.com/artworks-000103332085-59rey7-t120x120.jpg">
		</div>
		<div class="col-10">
			<a href="#" class="ellipsis">Martin Solveig & GTA "Intoxicated" Martin Solveig & GTA "Intoxicated"</a>
			<b><i class="zmdi zmdi-play"></i> <span>2,125,414</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-favorite"></i> <span>213</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-refresh-alt"></i> 111</b>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<img src="https://i1.sndcdn.com/artworks-000103332085-59rey7-t120x120.jpg">
		</div>
		<div class="col-10">
			<a href="#" class="ellipsis">Martin Solveig & GTA "Intoxicated" Martin Solveig & GTA "Intoxicated"</a>
			<b><i class="zmdi zmdi-play"></i> <span>2,125,414</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-favorite"></i> <span>213</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-refresh-alt"></i> 111</b>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<img src="https://i1.sndcdn.com/artworks-000103332085-59rey7-t120x120.jpg">
		</div>
		<div class="col-10">
			<a href="#" class="ellipsis">Martin Solveig & GTA "Intoxicated" Martin Solveig & GTA "Intoxicated"</a>
			<b><i class="zmdi zmdi-play"></i> <span>2,125,414</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-favorite"></i> <span>213</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-refresh-alt"></i> 111</b>
		</div>
	</div>
	<div class="row soundcloud-playlist">
		<div class="col-2">
			<img src="https://i1.sndcdn.com/artworks-000103332085-59rey7-t120x120.jpg">
		</div>
		<div class="col-10">
			<a href="#" class="ellipsis">Martin Solveig & GTA "Intoxicated" Martin Solveig & GTA "Intoxicated"</a>
			<b><i class="zmdi zmdi-play"></i> <span>2,125,414</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-favorite"></i> <span>213</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-refresh-alt"></i> 111</b>
		</div>
	</div>
	<div class="row soundcloud-playlist">
		<div class="col-2">
			<img src="https://i1.sndcdn.com/artworks-000103332085-59rey7-t120x120.jpg">
		</div>
		<div class="col-10">
			<a href="#" class="ellipsis">Martin Solveig & GTA "Intoxicated" Martin Solveig & GTA "Intoxicated"</a>
			<b><i class="zmdi zmdi-play"></i> <span>2,125,414</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-favorite"></i> <span>213</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-refresh-alt"></i> 111</b>
		</div>
	</div>
</div>
<div class="content-cards" ng-if="!data.moreContent.$err">
	<div ng-repeat="post in data.moreContent.content" class="col-4 content-cards-blocks">
		<a class="content-cards-blocks-holder" ng-href="{{:: post | generateUrl }}">
			<img ng-src="{{:: post.image }}">
		</a>
	</div>
</div>

<div class="yocards-message-container error-message" ng-class="err.api && 'imgur-message'" ng-if="data.moreContent.$err" ng-init="err = data.moreContent.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="err">
		<span ng-messages-include="templates/more_content_exceptions.html"></span>
	</span>
</div>
