<div class="profile">
	<div class="profile-card">
		<div class="profile-top row">
			<div class="profile-left col-4">
				<div class="profile-image" ng-style=":: person.selectedAccount.image && { 'background-image': 'url(' + person.selectedAccount.image + ')' }"></div>
			</div>
			<div class="profile-right col-8">
				<b class="instagram-color">{{:: person.selectedAccount.id }}</b>
				<a ng-href="{{:: person.selectedAccount | generateUrl }}" class="ellipsis no-yo">{{:: person.selectedAccount.name || person.selectedAccount.id }}</a>
				<div class="profile-cta">
					<a class="instagram-background" popup="https://instagram.com/{{:: person.selectedAccount.id }}">Follow</a>
				</div>
			</div>
		</div>

		<div class="card-stats row">
			<div class="col-4">
				<b>Posts</b>
				<span>{{:: person.selectedAccount.posts | numsmall }}</span>
			</div>
			<div class="col-4">
				<b>Followers</b>
				<span>{{:: person.selectedAccount.followers | numsmall }}</span>
			</div>
			<div class="col-4">
				<b>Following</b>
				<span>{{:: person.selectedAccount.following | numsmall }}</span>
			</div>
		</div>
	</div>
</div>
