<div class="comment-top row multithread">
	<div class="col-8">
		<span>{{ ::discussions[indexD].type | copy}}</span>
	</div>
	<div class="col-4">
		<span>{{ ::discussions[indexD].count | numsmall }}</span>
	</div>
</div>
<div ng-repeat="comment in discussions[indexD].comments" class="comment row">
	<!--
	<div class="col-3">
		<a data-load="https://www.youtube.com/channel/{{ ::comment.channel.id }}">
			<div class="comment-image" ng-style="::comment.channel.image && { 'background-image': 'url(' + comment.channel.image + ')'}"></div>
		</a>
	</div>
-->

	<div class="col-12">
		<a data-load="https://www.youtube.com/channel/{{ ::comment.channel.id }}">{{ ::comment.channel.name }}</a>
		<p readmore="::comment.description | htmlify" style="max-height: 170px"></p>
		<b class="youtube-color"><i class="md md-access-time"></i> {{ ::comment.date | date }}</b>
	</div>

	<div class="child">
		<div class="child-comment">
			<a href="">BradlehAaron</a>
			<p>That 1 minute 25 seconds was literally better than all of the WWE's </p>
			<b class="youtube-color"><i class="md md-access-time"></i> {{ ::comment.date | date }}</b>
		</div>
	</div>

	<div class="child">
			<div class="child-comment">
				<a href="">BradlehAaron</a>
				<p>That 1 minute 25 seconds was literally better than all of the WWE's </p>
				<b class="youtube-color"><i class="md md-access-time"></i> {{ ::comment.date | date }}</b>
				<div class="child">
					<div class="child-comment">
						<a href="">Yassine Bnihla</a>
						<p>thats why the correct answer is always, not today sorry.﻿</p>
						<b class="youtube-color"><i class="md md-access-time"></i> {{ ::comment.date | date }}</b>
					</div>
				</div>
			</div>
		</div>
</div>
