<div ng-repeat="thing in data.moreContent.content">
    <div class="content-list reddit-profile-posts" ng-if="thing.type === 'comment'">
        <div class="reddit-title">
            <div class="user-context">
                <b>Replied to post in /r/{{:: thing.subreddit }}</b>
                <span class="reddit-votes">+{{:: thing.score }} <span class="hidden-date">· {{:: thing.date | timeSince }}</span></span>
            </div>
            <a ng-href="https://www.reddit.com/r/{{:: thing.subreddit }}/comments/{{:: thing.post.id }}">{{:: thing.post.name }}</a>
        </div>
        <div>
            <div class="child-comment"><p ng-bind-html=":: thing.description" readmore=":: thing.description" style="max-height: 170px"></p></div>
        </div>
    </div>
    <div class="content-list reddit-profile-posts" ng-if="thing.type === 'post'">
        <div class="reddit-title">
            <div class="user-context">
                <b>Posted in /r/{{:: thing.subreddit }}</b>
                <span class="reddit-votes">+{{:: thing.score }} <span class="hidden-date">· {{:: thing.date | timeSince }}</span></span>
            </div>
            <div class="thumbnail" ng-if="thing.image" ng-style=":: { 'background-image': 'url(' + thing.image + ')'}"></div>
            <a ng-href="https://www.reddit.com/r/{{:: thing.subreddit }}/comments/{{:: thing.id }}">{{:: thing.name }}</a>
        </div>
    </div>
</div>
