<div class="reddit-header" ng-if="data.discussion.name && (data.discussion.api !== entry.content.api || data.discussion.id !== entry.content.id )">
	<div class="reddit-header-container">
		<div class="reddit-header-cover"></div>
		<div class="user-context">
			<div class="ellipsis">
				<span>Posted by </span>
				<a ng-href="{{:: data.discussion.author | generateUrl }}">{{:: data.discussion.author.id }}</a>
				<span>({{:: data.discussion.score | score }})</span>
				<!--
				<b><a ng-href="https://www.reddit.com/r/{{:: data.discussion.subreddit }}">/r/{{:: data.discussion.subreddit }}</a></b>
				-->
			</div>
			<span class="reddit-votes">{{:: data.discussion.date | timeSince:true }}</span>
		</div>
		<a class="no-yo" ng-href="{{ data.discussion | generateUrl }}">{{:: data.discussion.name }}</a>
	</div>
</div>
