<div ng-if="!data.content.$err" class="reddit-hovercard">
	<div class="hovercardrow">
		<div ng-class="!data.content.image && 'network-circle-reddit'" class="col-4 image-hovercard" ng-style="{ 'background-image': 'url(' + data.content.image + ')' }">
			<div ng-if="data.content.embed" class="image-play"><i class="zmdi zmdi-play"></i></div>
		</div>
		<div class="image-hovercard-copy col-8">
			<div class="flexin">
				<b class="ellipsis">/r/{{ data.content.subreddit }}</b>
				<h1 ng-if="data.content.name.length" collapse-at="21 * 2" collapse="data.content.name" no-more="true"></h1>
				<p ng-if="!data.content.name.length && data.content.description.length" collapse-at="19 * 2" collapse="data.content.description" no-more="true"></p>
			</div>
			<div class="hiddenrow card-stats">
				<div class="col-4">
					<b>Points</b>
					<span>{{ data.content.score | numsmall }}</span>
				</div>
				<div class="col-4">
					<b>Upvoted</b>
					<span>{{ data.content.up_ratio | percent }}</span>
				</div>
				<div class="col-4">
					<div class="network-holder" ng-controller="DiscussionController">
						<div class="profile-network network-circle-reddit"></div>
						<div ng-if="data.discussions.length" class="additional-networks one-network" ng-class="'network-circle-' + (data.discussions | pluck:'api' | firstInOrder)"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="hovercards-message-container error-message" ng-class="err.api && 'reddit-message'" ng-if="data.content.$err" ng-init="err = data.content.$err">
	<div class="hovercards-message-image"></div>
	<span class="hovercards-message-text" ng-messages="err">
		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
