<div class="comment-container">
	<div class="user-context" ng-class="{ 'selected-comment': comment.id === data.discussion.focus.id }">
		<a class="comment-close-button" ng-click="comment.close=!comment.close" ><i class="md md-play-arrow down-arrow"></i></a>
		<span class="ellipsis">
			<a ng-href="{{:: comment.author | generateUrl }}" ng-class="{ op: comment.author.id === data.discussion.author.id }">{{ ::comment.author.id }}</a>
		</span>
		<span class="time">{{ ::comment.score | score }} <span class="hidden-date">&middot; <a ng-href="{{:: data.discussion | generateUrl }}/gibberish/{{:: comment.id }}">{{ ::comment.date | timeSince:true  }}</a></span></span>
	</div>
	<div readmore=":: comment.description" cutoff-height="170"></div>
	<div class="child" ng-repeat="comment in comment.comments">
		<div class="child-comment" ng-class="{ 'child-close': comment.close }">
			<div ng-include="'templates/reddit_discussion_comment.html'"></div>
		</div>
	</div>
</div>
