<!--Replied to text post || posted text post-->
<div class="content-list reddit-profile-posts">
	<div class="reddit-title">
		<div class="user-context">
			<b>Replied to post in /r/videos</b>
			<span class="reddit-votes">+420 <span class="hidden-date">· 3d</span></span>
		</div>
		<a href="">Take note web designers, this is what every user covering a website.</a>
		<div class="child-comment">
			<p>dude ur not even a real web designer, do u even have a dribbble, why r u on this subreddit lol haha dude</p>
		</div>
	</div>
</div>
<!--Posted link -->
<div class="content-list reddit-profile-posts">
	<div class="reddit-title">
		<div class="user-context">
			<b>Posted in /r/videos</b>
			<span class="reddit-votes">+420 <span class="hidden-date">· 3d</span></span>
		</div>
		<div class="thumbnail" ng-style=":: comment.channel.image && { 'background-image': 'url(' + comment.channel.image + ')'}"></div>
		<a href="">Take note web designers, this is what every user covering a website.</a>
	</div>
</div>
<!--Replied to link post-->
<div class="content-list reddit-profile-posts">
	<div class="reddit-title">
		<div class="user-context">
			<b>Replied to post in /r/videos</b>
			<span class="reddit-votes">+420 <span class="hidden-date">· 3d</span></span>
		</div>
		<div class="thumbnail" ng-style=":: comment.channel.image && { 'background-image': 'url(' + comment.channel.image + ')'}"></div>
		<a href="">Take note web designers, this is what every user covering a website.</a>
		<div class="child-comment">
			<p>dude ur not even a real web designer, do u even have a dribbble, why r u on this subreddit lol haha dude</p>
		</div>
	</div>
</div>