<div class="card-text text-post">
	<div>
		<div class="user-context">
			<div class="ellipsis">
				<a ng-href="https://www.reddit.com/user/Kentont911" class="ng-binding" href="https://www.reddit.com/user/Kentont911" target="_blank">Kentont911</a>
				<b class="ng-binding">· /r/AskReddit</b>
			</div>
			<span class="reddit-votes ng-binding">10h</span>
		</div>
		<a ng-href="https://www.reddit.com/r/{{ ::data.content.subreddit }}/comments/{{:: data.content.id }}">{{ ::data.content.name }}</a>
	</div>
	<div ng-if="::data.content.description" class="card-description">
		<p ng-bind-html=":: data.content.description" readmore=":: data.content.description" style="max-height: 50px"></p>
	</div>
</div>
<div class="card-stats row">
	<div class="col-6">
		<b>Points</b>
		<span>{{:: data.content.score | numsmall }}</span>
	</div>
	<div class="col-6">
		<b>Votes</b>
		<span>{{:: data.content.up_ratio | percent }}</span>
	</div>
</div>
<div class="percent-bar" ng-if=":: data.content.up_ratio">
	<div class="percent-bar-good" ng-style=":: data.content.up_ratio && { width: (data.content.up_ratio | percent) }"></div>
</div>
