<div class="reddit-header">
	<div class="reddit-header-container">
		<div class="reddit-header-cover"></div>
		<div class="user-context">
			<div class="col-10">
				<div class="network-pick">
					<div class="network-circle network-circle-reddit"></div>
				</div>
				<span class="ellipsis">
					<a ng-href="{{:: data.discussion.author | generateUrl }}">{{:: data.discussion.author.id }}</a>
					<span> in </span>
					<b><a ng-href="https://www.reddit.com/r/{{:: data.discussion.subreddit }}">/r/{{:: data.discussion.subreddit }}</a></b>
				</span>

			</div>
			<div class="col-2">
				<span class="time">{{:: data.discussion.score | score }}</span>
			</div>
		</div>
		<a class="no-yo" ng-href="{{:: data.discussion | generateUrl }}">{{:: data.discussion.name }}</a>
	</div>
</div>

