<div class="profile">
	<div class="profile-card">
		<div class="profile-top row">
			<div class="profile-left col-4">
				<div class="profile-image reddit-profile"></div>
			</div>
			<div class="profile-right col-8">
				<b class="reddit-color"><i class="md md-mode-edit"></i>{{:: ((data.content.author.api    === 'reddit' && data.content.author.id === person.selectedAccount.id) ||
				                                                             (data.discussion.author.api === 'reddit' && data.discussion.author.id === person.selectedAccount.id))
				                                                             ? 'Posted By' : ('reddit_account' | copy) }}:</b>
				<a ng-href="{{:: person.selectedAccount | generateUrl }}" class="ellipsis no-yo">{{ ::person.selectedAccount.id }}</a>
			</div>
		</div>

		<div class="card-stats row">
			<div class="col-4">
				<b>Link Karma</b>
				<span>{{ person.selectedAccount.link_karma | numsmall }}</span>
			</div>
			<div class="col-4">
				<b>Cmnt Karma</b>
				<span>{{ ::person.selectedAccount.comment_karma | numsmall }}</span>
			</div>
			<div class="col-4">
				<b>Account Age</b>
				<span>{{ ::person.selectedAccount.date | timeSinceAbbr }}</span>
			</div>
		</div>
	</div>
</div>