<div ng-if="!data.content.$err">
	<div class="context-top">
		<div class="share-container" share-page=":: data.content"></div>
		<div class="row">
			<div class="col-10">
				<div class="network-pick">
					<div class="network-circle network-circle-reddit"></div>
				</div>
				<span class="ellipsis"><a ng-href="{{:: data.content.author | generateUrl }}" class="no-yo">{{:: data.content.author.name || data.content.author.id }}</a> in <b><a ng-href="https://www.reddit.com/r/{{:: data.content.subreddit }}">/r/{{:: data.content.subreddit }}</a></b></span>
			</div>
			<div class="col-2">
				<span><a ng-href="{{:: data.content | generateUrl }}" class="no-yo">{{:: data.content.date | timeSince:true }}</a></span>
			</div>
			<div class="col-12">
				<div class="video-title">
					<a ng-href="{{:: data.content | generateUrl }}" class="no-yo">{{ ::data.content.name }}</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Video -->
	<div ng-if=":: data.content.embed">
		<div class="video-top" ng-class="{ 'fullscreen-trigger': view.fullscreen === data.content }">
			<div class="video-image" ng-style=":: data.content.image && { 'background-image': 'url(' + data.content.image + ')' }">
				<div class="reddit-video" ng-bind-html=":: data.content.embed | trustedHtml"></div>
			</div>
		</div>

		<div class="video-top-underlay">
			<div class="video-image" ng-style=":: data.content.image && { 'background-image': 'url(' + data.content.image + ')' }">
			</div>
			<div class="video-cta" ng-click="view.fullscreen=data.content" ng-class="{ 'button-vanish': view.fullscreen === data.content }">
				<i class="zmdi zmdi-fullscreen"></i>
			</div>
			<div class="video-cta" ng-click="view.fullscreen=null;" ng-class="{ 'button-vanish': view.fullscreen !== data.content }">
				<i class="zmdi zmdi-fullscreen-exit"></i>
			</div>
		</div>
	</div>

	<!-- Image -->
	<div class="content-top" ng-class="{ 'content-top-active': view.fullscreen === data.content }" ng-if=":: !data.content.embed && data.content.image" ng-click="view.fullscreen=(view.fullscreen === data.content) ? null : data.content">
		<img ng-src="{{:: data.content.image }}">
	</div>
	<div class="fullscreen-image" ng-if="!data.content.embed && data.content.image && view.fullscreen === data.content" ng-click="view.fullscreen=null">
		<img ng-src="{{:: data.content.image }}">
	</div>

	<div class="card-text" ng-if="::data.content.description">
		<div class="card-description">
			<div collapse=":: data.content.description" collapse-at="19 * 7" tolerance="19 * 3" recollapse-at="19 * 15"></div>
		</div>
	</div>
	<div class="card-stats row">
		<div class="col-6">
			<b>Points</b>
			<span>{{:: data.content.score | numsmall }}</span>
		</div>
		<div class="col-6">
			<b>Upvoted</b>
			<span>{{:: data.content.up_ratio | percent }}</span>
		</div>
	</div>
	<!--
	<div class="percent-bar" ng-if=":: data.content.up_ratio">
		<div class="percent-bar-good" ng-style=":: data.content.up_ratio && { width: (data.content.up_ratio | percent) }"></div>
	</div>
	-->
</div>

<div class="yocards-message-container error-message" ng-class="err.api && 'reddit-message'" ng-if="data.content.$err" ng-init="err = data.content.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="err">
		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
