<div class="fold">
	<div class="fold-triangle"></div>
</div>
<div class="share-circles-container">
	<div class="share-circles">
	</div>
	<div class="sharecontainerhover">
		<a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fyocards.com&text=:%20http%3A%2F%2Fyocards.com&via=yocards" target="_blank" title="Tweet" class="twiter-circle"></a>
		<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fyocards.com&t=" title="Share on Facebook" target="_blank" class="fb-circle"></a>
		<a href="http://www.reddit.com/submit?url=http%3A%2F%2Fyocards.com&title=" target="_blank" title="Submit to Reddit" class="reddit-circle"></a>
	</div>
</div>