<div class="soundcloud-profile">
	<div class="row">
		<div class="col-2">
			<img src="https://i1.sndcdn.com/artworks-000103332085-59rey7-t120x120.jpg">
		</div>
		<div class="col-10">
			<a href="#" class="ellipsis">Martin Solveig & GTA "Intoxicated" Martin Solveig & GTA "Intoxicated"</a>
			<b><i class="zmdi zmdi-play"></i> <span>2,125,414</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-favorite"></i> <span>213</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-refresh-alt"></i> 111</b>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<img src="https://i1.sndcdn.com/artworks-000103332085-59rey7-t120x120.jpg">
		</div>
		<div class="col-10">
			<a href="#" class="ellipsis">Martin Solveig & GTA "Intoxicated" Martin Solveig & GTA "Intoxicated"</a>
			<b><i class="zmdi zmdi-play"></i> <span>2,125,414</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-favorite"></i> <span>213</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-refresh-alt"></i> 111</b>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<img src="https://i1.sndcdn.com/artworks-000103332085-59rey7-t120x120.jpg">
		</div>
		<div class="col-10">
			<a href="#" class="ellipsis">Martin Solveig & GTA "Intoxicated" Martin Solveig & GTA "Intoxicated"</a>
			<b><i class="zmdi zmdi-play"></i> <span>2,125,414</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-favorite"></i> <span>213</span> &nbsp;&middot;&nbsp; <i class="zmdi zmdi-refresh-alt"></i> 111</b>
		</div>
	</div>
</div>