<div ng-if="!data.content.$err">
	<div class="video-top" ng-if=":: data.content.image">
		<div class="video-image" ng-style=":: { 'background-image': 'url(' + data.content.image + ')' }"></div>
	</div>
	<div class="card-text text-post">
		<div class="user-context-container">
			<div class="user-context">
				<div class="ellipsis">
					<a ng-href="{{:: data.content.author | generateUrl }}">@{{:: data.content.author.id }}</a> <b>· <a ng-href="{{:: data.content.author | generateUrl }}">{{:: data.content.author.name }}</a></b>
				</div>
				<span class="reddit-votes">{{:: data.content.date | timeSince:true }}</span>
			</div>
		</div>
		<div class="card-description">
			<p readmore=":: data.content.description" cutoff-height="100"></p>
		</div>
	</div>
	<div class="card-stats row">
		<div class="col-6">
			<b>Retweets</b>
			<span>{{:: data.content.retweets | numsmall }}</span>
		</div>
		<div class="col-6">
			<b>Favourites</b>
			<span>{{:: data.content.favorites | numsmall }}</span>
		</div>
	</div>
</div>

<div ng-messages="data.content.$err" ng-messages-include="templates/content_exceptions.html"></div>
