<div class="profile-card">
	<div class="profile-top row">
		<div class="profile-left col-3">
			<div class="profile-image" ng-style="data.account.image && { 'background-image': 'url(' + data.account.image + ')' }"></div>
		</div>
		<div class="profile-right col-7">
			<a ng-href="{{ data.account | generateUrl }}" class="ellipsis">{{ data.account.name }}</a>
            <p class="ellipsis">{{ data.account.description }}</p>
		</div>
		<div class="col-2">
			<div class="network-holder">
				<div class="profile-network network-circle-twitter"></div>
				<div class="additional-networks">+1</div>
			</div>
		</div>
	</div>

	<div class="card-stats row">
		<div class="col-4">
			<b>Tweets</b>
			<span>{{ data.account.tweets | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Followers</b>
			<span>{{ data.account.followers | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Following</b>
			<span>{{ data.account.following | numsmall }}</span>
		</div>
	</div>
</div>
