<div ng-repeat="tweet in data.discussion.comments" ng-include="'templates/twitter_tweet.html'" class="comment row" ng-if="!data.discussion.$err"></div>

<div class="no-comments" ng-if="data.discussion.$err['empty-content']">
	<b><i class="zmdi zmdi-comment-alert"></i> No Tweets Found</b>
	<h2>Quick! Be the first to tweet about this!</h2>
	<a popup="{{:: data.content | shareUrl:'twitter' }}"><div class="rippleblack">Tweet It!</div></a>
</div>

<div class="discussion-error" ng-if="data.discussion.$err && !data.discussion.$err['empty-content']" ng-init="err = data.discussion.$err">
	<span ng-messages="err">
		<span ng-message="not-implemented">
			<span class="yocards-message-content"><b><i class="zmdi zmdi-error"></i>Can't Do it</b>Sorry, {{:: 'twitter' | copy }} got rid of their replies API recently. We've found a way to get these that works most of the time, but we just couldn't this time.</span>
			<div class="yocards-message-option">
				<a ng-href="#">Get real mad at {{:: 'twitter' | copy }}</a>
			</div>
			<div class="yocards-message-option" ng-if="data.content">
				<a popup="{{:: data.content | shareUrl:'twitter' }}">post it?</a>
			</div>
		</span>

		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
