<div class="twitter-content-list" ng-if="!data.moreContent.$err">
	<div class="comment row" ng-repeat="tweet in data.moreContent.content" ng-include="'templates/twitter_tweet.html'"></div>
</div>

<div class="yocards-message-container error-message" ng-class="err.api && 'twitter-message'" ng-if="data.moreContent.$err" ng-init="err = data.moreContent.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="err">
		<span ng-message="forbidden">
			<span class="yocards-message-content"><b><i class="md md-error"></i>Protected Tweets</b><a ng-href="{{:: entry.selectedPerson.selectedAccount | generateUrl }}">{{:: entry.selectedPerson.selectedAccount.name || entry.selectedPerson.selectedAccount.id }}</a> has set their tweets to be protected. You'll need them to follow you to see these!</span>
		</span>

		<span ng-messages-include="templates/more_content_exceptions.html"></span>
	</span>
</div>
