<div class="comment row" ng-if="!data.content.image && !data.content.images.length">
	<div class="col-2">
		<a>
			<div class="comment-image" ng-style="{ 'background-image': 'url(' + data.content.author.image + ')' }"></div>
		</a>
	</div>
	<div class="col-10">
		<div class="user-context">
			<span>
				<a>{{ data.content.author.name }}</a>
			</span>
			<span class="time"><a>{{ data.content.date | timeSince:true }}</a></span>
		</div>
		<p collapse-at="19 * 4" collapse="data.content.description">{{ data.content.description }}</a></p>
		<p class="mini-stats"><span><i class="zmdi zmdi-refresh-alt"></i> {{:: data.content.retweets }}</span> <span class="binding"><i class="zmdi zmdi-star-circle"></i> {{:: data.content.favorites }}</span></p>
	</div>
</div>

<div class="hovercardrow" ng-if="data.content.image || data.content.images.length">
	<div class="col-6 image-hovercard" ng-style="{ 'background-image': 'url(' + ((data.content.image.length && data.content.image) || data.content.images[0]) + ':small)' }"></div>
	<div class="col-6 image-text">
		<div class="user-context">
			<span>
				<a class="username ellipsis">{{ data.content.author.name }}</a>
			</span>
			<span class="time"><a>{{ data.content.date | timeSince:true }}</a></span>
		</div>
		<p collapse-at="19 * 4" collapse="data.content.description">{{ data.content.description }}</a></p>
		<p class="mini-stats"><span><i class="zmdi zmdi-refresh-alt"></i> {{:: data.content.retweets }}</span> <span class="binding"><i class="zmdi zmdi-star-circle"></i> {{:: data.content.favorites }}</span></p>
	</div>
</div>