<div class="profile">
	<div class="profile-card">
		<div class="profile-top row">
			<div class="profile-left col-4">
				<div class="profile-image" style="background-image:url({{:: person.selectedAccount.image }})"></div>
			</div>
			<div class="profile-right col-8">
				<b class="twitter-color"><i class="md md-mode-edit"></i>{{:: ((data.content.author.api    === 'twitter' && data.content.author.id === person.selectedAccount.id) ||
				                                                              (data.discussion.author.api === 'twitter' && data.discussion.author.id === person.selectedAccount.id))
				                                                              ? 'Tweeted By' : ('twitter_account' | copy) }}:</b>
				<a ng-href="{{:: person.selectedAccount | generateUrl }}" class="ellipsis no-yo">{{:: person.selectedAccount.name }} @{{:: person.selectedAccount.id }}</a>

				<div class="profile-cta">
					<a popup="https://twitter.com/intent/follow?screen_name={{:: person.selectedAccount.id }}">Follow</a>
				</div>
			</div>
		</div>

		<div class="card-stats row">
			<div class="col-4">
				<b>Tweets</b>
				<span>{{:: person.selectedAccount.tweets | numsmall }}</span>
			</div>
			<div class="col-4">
				<b>Following</b>
				<span>{{:: person.selectedAccount.following | numsmall }}</span>
			</div>
			<div class="col-4">
				<b>Followers</b>
				<span>{{:: person.selectedAccount.followers | numsmall }}</span>
			</div>
		</div>
	</div>
</div>
