<div ng-if="!person.selectedAccount.$err">
	<div class="profile">
		<div class="profile-card">
			<div class="profile-top row">
				<div class="profile-left col-4">
					<div class="profile-image" ng-style="person.selectedAccount.image && { 'background-image': 'url(' + person.selectedAccount.image + ')' }"></div>
				</div>
				<div class="profile-right col-8">
					<b class="ellipsis twitter-color">{{ (person.accounts[0] === person.selectedAccount && person.selectedAccount.reason && (('account_reason_' + person.selectedAccount.reason + '_with_name_twitter' | copy:('@' + person.selectedAccount.id)) || ('account_reason_' + person.selectedAccount.reason + '_with_name' | copy:('@' + person.selectedAccount.id)))) || ('@' + person.selectedAccount.id) }}</b>
					<a ng-href="{{ person.selectedAccount | generateUrl }}" class="ellipsis no-yo">{{ person.selectedAccount.name }}<div class="twitter-verified" ng-if=" person.selectedAccount.verified"></div></a>
					<div class="profile-cta">
						<a class="twitter-background" popup="https://twitter.com/intent/follow?screen_name={{ person.selectedAccount.id }}" popup-size="{ height: 300, width: 640 }">Follow</a>
					</div>
				</div>
			</div>

			<div class="card-stats row">
				<div class="col-4">
					<b>Tweets</b>
					<span>{{ person.selectedAccount.tweets | numsmall }}</span>
				</div>
				<div class="col-4">
					<b>Followers</b>
					<span>{{ person.selectedAccount.followers | numsmall }}</span>
				</div>
				<div class="col-4">
					<b>Following</b>
					<span>{{ person.selectedAccount.following | numsmall }}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="person.selectedAccount.$err" class="yocards-message-container error-message" ng-class="err.api && 'twitter-message'" ng-init="err = person.selectedAccount.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="err">
		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
