<div ng-if="!data.content.$err" class="twitter-hovercard">
	<div class="hovercardrow" ng-if="!data.content.image && !data.content.images.length">
		<div class="col-4 image-hovercard" ng-style="{ 'background-image': 'url(' + (data.content.author.image) }"><div class="white-triangle"></div></div>
		<div class="col-8 image-text">
			<div class="flexin">
				<div class="user-context">
					<span>
						<b class="username ellipsis">{{ data.content.author.name }}</b>
					</span>
				</div>
				<p collapse-at="19 * 3" collapse="data.content.description" no-more="true">{{ data.content.description }}</a></p>
			</div>
			<div class="hiddenrow card-stats">
				<div class="col-4">
					<b>Retweets</b>
					<span>{{ data.content.retweets | numsmall }}</span>
				</div>
				<div class="col-4">
					<b>Favourites</b>
					<span>{{ data.content.favorites | numsmall }}</span>
				</div>
				<div class="col-4">
					<div class="network-holder" ng-controller="DiscussionController">
						<div class="profile-network network-circle-twitter"></div>
						<div ng-if="data.discussions.length" class="additional-networks one-network" ng-class="'network-circle-' + (data.discussions | pluck:'api' | firstInOrder)"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hovercardrow" ng-if="data.content.image || data.content.images.length">
		<div class="col-4 image-hovercard" ng-style="{ 'background-image': 'url(' + ((data.content.image.length && data.content.image) || data.content.images[0]) + ':small)' }">
			<div ng-if="data.content.video" class="image-play"><i class="zmdi zmdi-play"></i></div>
			<div ng-if="data.content.images.length" class="image-numbers"><i class="zmdi zmdi-collection-image"></i> {{ data.content.images.length }}</div>
		</div>
		<div class="col-8 image-text">
			<div class="flexin">
				<div class="user-context">
					<span>
						<b class="username ellipsis">{{ data.content.author.name }}</b>
					</span>
				</div>
				<p collapse-at="19 * 3" collapse="data.content.description" no-more="true">{{ data.content.description }}</a></p>
			</div>
			<div class="hiddenrow card-stats">
				<div class="col-4">
					<b>Retweets</b>
					<span>{{ data.content.retweets | numsmall }}</span>
				</div>
				<div class="col-4">
					<b>Favourites</b>
					<span>{{ data.content.favorites | numsmall }}</span>
				</div>
				<div class="col-4">
					<div class="network-holder" ng-controller="DiscussionController">
						<div class="profile-network network-circle-twitter"></div>
						<div ng-if="data.discussions.length" class="additional-networks one-network" ng-class="'network-circle-' + (data.discussions | pluck:'api' | firstInOrder)"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="yocards-message-container error-message" ng-class="err.api && 'twitter-message'" ng-if="data.content.$err" ng-init="err = data.content.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="err">
		<span ng-messages-include="templates/authorize_for_forbidden_exceptions.html"></span>
		<span ng-messages-include="templates/authorize_for_too_many_requests_exceptions.html"></span>
		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
