<div class="retweet" ng-if=":: tweet.retweet">
	<i class="zmdi zmdi-refresh-alt"></i>
	<span><a ng-href="{{:: tweet.retweet.author | generateUrl }}" ng-class="{ 'no-yo': noyo === tweet.retweet.author.id  }">{{:: tweet.retweet.author.name }}</a> retweeted</span>
</div>
<div class="col-2">
	<a ng-href="{{:: tweet.author | generateUrl }}" class="no-yo">
		<div class="comment-image" ng-style=":: tweet.author.image && { 'background-image': 'url(' + tweet.author.image + ')'}"></div>
	</a>
</div>
<div class="col-10">
	<div class="user-context">
		<span>
			<a ng-href="{{:: tweet.author | generateUrl }}" ng-class="{ 'no-yo': noyo === tweet.author.id  }">{{:: tweet.author.name }}</a>
		</span>
		<span class="time"><a ng-href="{{:: (tweet.retweet || tweet) | generateUrl }}">{{:: tweet.date | timeSince:true }}</a></span>
	</div>
	<p collapse=":: tweet.description" collapse-at="19 * 2" tolerance="19 * 3" recollapse-at="19 * 10"></p>
	<div ng-if=":: tweet.image">
		<div class="comment-image-container" ng-click="view.fullscreen=(view.fullscreen === tweet) ? null : tweet" ng-style="{ cursor: (view.fullscreen === tweet) ? 'zoom-out' : 'zoom-in' }">
			<img ng-src="{{:: tweet.image }}:medium">
		</div>
		<div class="fullscreen-image" ng-show="view.fullscreen === tweet" ng-click="view.fullscreen=null">
			<img ng-src="{{:: tweet.image }}:large">
		</div>
	</div>
	<p class="mini-stats"><span><i class="zmdi zmdi-refresh-alt"></i> {{:: tweet.retweets }}</span> <span><i class="zmdi zmdi-star-circle"></i> {{:: tweet.favorites }}</span></p>
</div>
