<div ng-if="!data.content.$err">
	<div class="context-top">
		<div class="share-container" share-page=":: data.content"></div>
		<div class="row">
			<div class="col-10 ellipsis">
				<div class="network-pick">
					<div class="network-circle network-circle-youtube"></div>
				</div>
				<span>Uploaded by <a ng-href="{{:: data.content.author | generateUrl }}" class="no-yo">{{:: data.content.author.name || data.content.author.id }}</a></span>
			</div>
			<div class="col-2">
				<span><a ng-href="{{:: data.content | generateUrl }}" class="no-yo">{{:: data.content.date | timeSince:true }}</a></span>
			</div>
			<div class="col-12">
				<div class="video-title">
					<a ng-href="{{:: data.content | generateUrl }}" class="no-yo">{{:: data.content.name }}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="video-top" ng-class="{ 'fullscreen-trigger': view.fullscreen === data.content }">
		<div class="video-image" ng-style=":: data.content.image && { 'background-image': 'url(' + data.content.image + ')' }">
			<div class="youtube-video" ng-if="playing">
				<object data="https://www.youtube.com/v/{{ data.content.id }}?autoplay=1&fs=1" class="no-yo" width="100%" height="100%" type="application/x-shockwave-flash">
					<param name="allowFullScreen" value="true"></param>
				</object>
			</div>
		</div>
	</div>

	<div class="video-top-underlay">
		<div class="video-image" ng-style=":: data.content.image && { 'background-image': 'url(' + data.content.image + ')' }" ng-click="played || ((played = true) && (playing = true))">
		</div>
		<div class="play-video youtube-background" ng-click="played || ((played = true) && (playing = true))" ng-class="{ 'play-video-clicked': playing }"></div>
		<div class="video-cta" ng-click="(view.fullscreen=data.content) && (played || ((played = true) && (playing = true)))" ng-class="{ 'button-vanish': view.fullscreen === data.content }">
			<i class="md md-fullscreen"></i>
		</div>
		<div class="video-cta" ng-click="view.fullscreen=null;" ng-class="{ 'button-vanish': view.fullscreen !== data.content }">
			<i class="md md-fullscreen-exit"></i>
		</div>
	</div>

	<div class="card-text">
		<div ng-if=":: data.content.description" class="card-description">
			<p readmore=":: data.content.description | linky" cutoff-height="50" readless="true"></p>
		</div>
	</div>
	<div class="card-stats row">
		<div class="col-4">
			<b>Views</b>
			<span>{{:: data.content.views | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Likes</b>
			<span>{{:: data.content.likes | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Dislikes</b>
			<span>{{:: data.content.dislikes | numsmall }}</span>
		</div>
	</div>
	<!--
	<div class="card-stats-mini">
		<span><i class="md md-remove-red-eye"></i> {{:: data.content.views | numsmall }}</span>
		<span><i class="md md-thumb-up"></i> {{:: data.content.likes | numsmall }}</span>
		<span><i class="md md-thumb-down"></i> {{:: data.content.dislikes | numsmall }}</span>
	</div>
	<!--
	<div class="percent-bar" ng-if=":: data.content.likes + data.content.dislikes">
		<div class="percent-bar-good" ng-style=":: (data.content.likes + data.content.dislikes) && { width: (data.content.likes / (data.content.likes + data.content.dislikes) | percent) }"></div>
	</div>
	-->
</div>

<div class="yocards-message-container error-message" ng-class="data.content.$err['api-specific'] && 'youtube-message'" ng-if="data.content.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="data.content.$err">
		<span ng-messages-include="templates/content_exceptions.html"></span>
	</span>
</div>
