<div class="no-comments" ng-if="!data.discussion.comments.length || !data.discussion.count">
	<p>Oh no, no one has commented on this! <a ng-href="{{:: data.discussion | generateUrl }}">Be the first to comment</a> or <a ng-click="entry.showMenu=true">see what people are saying elsewhere!</a></p>
</div>

<div ng-repeat="comment in data.discussion.comments" class="comment row" ng-if="data.discussion.count">
	<div class="col-2">
		<a ng-href="{{:: comment.author | generateUrl }}">
			<div class="comment-image" ng-style=":: comment.author.image && { 'background-image': 'url(' + comment.author.image + ')'}"></div>
		</a>
	</div>
	<div class="col-10">
		<div class="user-context">
			<a ng-href="{{:: comment.author | generateUrl }}">{{:: comment.author.name }}</a>
			<span class="youtube-color reddit-votes">{{:: comment.date | timeSinceAbbr }}</span>
		</div>
		<p readmore=":: comment.description" style="max-height: 100px"></p>
	</div>
</div>
