<div class="card bounce-in-animation" ng-if="::object">
	<div class="comment-top row">
		<div class="col-8">
			<span>Youtube Comments</span>
		</div>
		<div class="col-4">
			<span>{{ ::object.count | numsmall }}</span>
		</div>
	</div>
	<div class="comment-content">
		<div ng-repeat="comment in object.comments" class="comment row">
			<div class="comment-left col-3">
				<a href="https://www.youtube.com/channel/{{ ::comment.channelId }}" target="_blank">
					<div class="comment-image" ng-style="::user && { 'background-image': 'url(' + user.image + ')'}" load provider="youtube" content="user-v2" id="::comment.userId" object="user"></div>
				</a>
			</div>
			<div class="comment-right col-9">
				<a href="https://www.youtube.com/channel/{{ ::comment.channelId }}" target="_blank">{{ ::comment.name }}</a>
				<p readmore="::comment.content | htmlify" style="max-height: 170px"></p>
				<b class="youtube-color"><i class="md md-access-time"></i> {{ ::comment.date | date }}</b>
			</div>
		</div>
	</div>
</div>
