<div class="card bounce-in-animation" ng-click="show=!show" ng-class="::{ 'card-more': object.description }" ng-if="object">
	<div class="profile-top row">
		<div class="profile-left col-4">
			<div class="profile-image" style="background-image:url({{ ::object.image }})"></div>
		</div>
		<div class="profile-right col-8">
			<b class="youtube-color"><i class="md  md-videocam"></i> Uploaded By:</b>
			<a href="https://www.youtube.com/channel/{{ ::object.id }}" target="_blank" class="ellipsis" ng-click="$event.stopPropagation()">{{ ::object.name }}</a>
			<div class="profile-cta">
				<div youtube-channel-subscribe youtube-channel-id="::object.id" subscribed-offset="offset"></div>
			</div>
		</div>
	</div>

	<div ng-show="show" ng-click="$event.stopPropagation()" ng-if="::object.description" class="slide-animation card-description-padding">
		<div ng-show="show" class="fade-animation">
			<p readmore="::object.description | htmlify" style="max-height: 170px"></p>
		</div>
	</div>
	
	<div class="card-stats row">
		<div class="col-4">
			<b>Subscribers</b>
			<span>{{ object.subscribers + offset | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Uploads</b>
			<span>{{ ::object.videos | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Video Views</b>
			<span>{{ ::object.views | numsmall }}</span>
		</div>
	</div>

</div>
