<div class="card bounce-in-animation" ng-click="show=!show" ng-class="::{ 'card-more': video.description }" ng-if="video">

	<div class="video-top">
		<div class="video-image" style="background-image:url({{ ::video.image }});">
			<div class="youtube-video" ng-if="playing">
				<iframe width="100%" height="100%" ng-src="{{ 'https://www.youtube.com/embed/' + video.id + '?autoplay=1&donthovercards' | trustresourceurl }}" frameborder="0" allowfullscreen=""></iframe>
			</div>

		</div>
		<div class="video-cta" ng-click="playing=true; $event.stopPropagation();" ng-class="{ playing: playing }">
			<i class="md  md-play-arrow"></i>
		</div>
	</div>
	
	<div class="card-text">
		<div class="video-title">
		<b class="youtube-color"><i class="md md-access-time"></i> {{ ::video.date | date }}</b>
			<a href="https://www.youtube.com/watch?v={{ ::video.id }}" target="_blank" ng-click="$event.stopPropagation()">{{ ::video.name }}</a>
		</div>
		<div ng-show="show" ng-click="$event.stopPropagation()" ng-if="::video.description" class="slide-animation card-description">
			<div ng-show="show" class="fade-animation">
				<p readmore="::video.description | htmlify" style="max-height: 170px"></p>
			</div>
		</div>
	</div>
	<div class="card-stats row">
		<div class="col-4">
			<b>Views</b>
			<span>{{ ::video.views | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Likes</b>
			<span>{{ ::video.likes | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Dislikes</b>
			<span>{{ ::video.dislikes | numsmall }}</span>
		</div>
	</div>

</div>

<div class="card bounce-in-animation">
	<div class="row">
		<div class="hovercards-error-image hovercards-error-yt"></div>
		<div class="hovercards-error-text">
			<p>Someting went wrong here- if you send us a message below and we'll try to fix it! :)</p>
		</div>
	</div>
</div>
