<div ng-if="!data.content.$err">
	<div class="context-top">
		<div class="share-container" share-page=":: data.content"></div>
		<div class="row">
			<div class="col-10 ellipsis">
				<div class="network-pick">
					<div class="network-circle network-circle-youtube"></div>
				</div>
				<span class="ellipsis">Uploaded by <a ng-href="{{:: data.content.author | generateUrl }}" class="no-yo">{{:: data.content.author.name || data.content.author.id }}</a></span>
			</div>
			<div class="col-2">
				<span><a ng-href="{{:: data.content | generateUrl }}" class="no-yo">{{:: data.content.date | timeSince:true }}</a></span>
			</div>
			<div class="col-12">
				<div class="video-title">
					<a ng-href="{{:: data.content | generateUrl }}" class="no-yo">{{:: data.content.name }}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="video-top" ng-class="{ 'fullscreen-trigger': view.fullscreen === data.content }">
		<iframe class="youtube-video no-yo" ng-if="playing" ng-src="{{:: ('https://www.youtube.com/embed/' + data.content.id + '?autoplay=1&fs=1') | trustedUrl }}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="video-top-underlay" ng-style="{ cursor: !playing && 'pointer'}">
		<div class="video-image" ng-click="playing = true" ng-style=":: data.content.image && { 'background-image': 'url(' + data.content.image + ')' }"></div>
		<div class="play-video youtube-background" ng-click="playing = true" ng-class="{ 'play-video-clicked': playing }"></div>
		<div class="video-cta" ng-click="view.fullscreen=data.content" ng-class="{ 'button-vanish': view.fullscreen === data.content }">
			<i class="zmdi zmdi-fullscreen"></i>
		</div>
		<div class="video-cta" ng-click="view.fullscreen=null" ng-class="{ 'button-vanish': view.fullscreen !== data.content }">
			<i class="zmdi zmdi-fullscreen-exit"></i>
		</div>
	</div>

	<div class="card-text" ng-if=":: data.content.description">
		<div class="card-description">
			<p collapse=":: data.content.description | linky" collapse-at="19 * 4" tolerance="19 * 2" recollapse-at="19 * 10"></p>
		</div>
	</div>

	<div class="card-stats row">
		<div class="col-4">
			<b>Views</b>
			<span>{{:: data.content.views | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Likes</b>
			<span>{{:: data.content.likes | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Dislikes</b>
			<span>{{:: data.content.dislikes | numsmall }}</span>
		</div>
	</div>
	<!--
	<div class="percent-bar" ng-if=":: data.content.likes + data.content.dislikes">
		<div class="percent-bar-good" ng-style=":: (data.content.likes + data.content.dislikes) && { width: (data.content.likes / (data.content.likes + data.content.dislikes) | percent) }"></div>
	</div>
	-->
</div>

<div class="yocards-message-container error-message" ng-class="err.api && 'youtube-message'" ng-if="data.content.$err" ng-init="err = data.content.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="err">
		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
