<div class="card bounce-in-animation" ng-click="show=!show" ng-class="::{ 'card-more': description }" ng-if="loaded">

	<div class="video-top">
		<div class="video-image" style="background-image:url({{ ::image }});">
			<div class="youtube-video" ng-if="playing">
				<iframe width="100%" height="100%" ng-src="{{ 'https://www.youtube.com/embed/' + id + '?autoplay=1&donthovercards' | trustresourceurl }}" frameborder="0" allowfullscreen=""></iframe>
			</div>

		</div>
		<div class="video-cta" ng-click="playing=true; $event.stopPropagation();" ng-class="{ playing: playing }">
			<i class="md  md-play-arrow"></i>
		</div>
	</div>
	
	<div class="card-text">
		<div class="video-title">
		<b class="youtube-color"><i class="md md-access-time"></i> {{ ::date | date }}</b>
			<a href="https://www.youtube.com/watch?v={{ ::id }}" target="_blank" ng-click="$event.stopPropagation()">{{ ::title }}</a>
		</div>
		<div ng-show="show" ng-click="$event.stopPropagation()" ng-if="::description" class="slide-animation card-description">
            <div ng-show="show" class="fade-animation">
                <p readmore="::description | htmlify" cutoff-height="170px"></p>
            </div>
		</div>
	</div>
	<div class="card-stats row">
		<div class="col-4">
			<b>Views</b>
		<span>{{ ::views | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Likes</b>
		<span>{{ ::likes | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Dislikes</b>
		<span>{{ ::dislikes | numsmall }}</span>
		</div>
	</div>

</div>
