<div class="comment-top">
	<div class="row">
		<div class="col-9">
			<span>{{ ::discussions[indexD].type | copy}}</span>
		</div>
		<div class="col-3">
			<span>{{ ::discussions[indexD].count | numsmall }}</span>
			<i class="md md-more-vert" ng-click="showMenu = ! showMenu"></i>
		</div>
	</div>
	<div class="menu" ng-show="showMenu">
		<ul id="sortable">
		  <li class="ui-state-default" ng-class="{ selected: chosen==='youtube-comments'}" ng-click="chosen='youtube-comments'"><span>Youtube Comments</span></li>
		  <li class="ui-state-default" ng-class="{ selected: chosen==='reddit-comments'}" ng-click="chosen='reddit-comments'"><span>Reddit Discussion</span></li>
		  <li class="ui-state-default" ng-class="{ selected: chosen==='twitter-comments'}" ng-click="chosen='twitter-comments'"><span>Twitter Tweets </span></li>
		</ul>
	</div>
</div>
<div ng-repeat="comment in discussions[indexD].comments" class="comment row">
	<div class="col-3">
		<a data-load="https://www.youtube.com/channel/{{ ::comment.channel.id }}">
			<div class="comment-image" ng-style="::comment.channel.image && { 'background-image': 'url(' + comment.channel.image + ')'}"></div>
		</a>
	</div>
	<div class="col-9">
		<a data-load="https://www.youtube.com/channel/{{ ::comment.channel.id }}">{{ ::comment.channel.name }}</a>
		<p readmore="::comment.description | htmlify" style="max-height: 170px"></p>
		<b class="youtube-color"><i class="md md-access-time"></i> {{ ::comment.date | date }}</b>
	</div>
</div>
