<div ng-if="!data.content.$err">
	<div class="row">
		<div class="col-4 video-hovercard" ng-style="data.content.image && { 'background-image': 'url(' + data.content.image + ')' }">
			<div class="image-play"><i class="zmdi zmdi-play"></i></div>
		</div>
		<div class="video-hovercard-copy col-6">
			<b class="ellipsis">{{ data.content.author.name || data.content.author.id }}</b>
			<h1 collapse="data.content.name" collapse-at="20 * 2" no-more="true"></h1>
		</div>
		<div class="col-2">
			<div class="network-holder" ng-controller="DiscussionController">
				<div class="profile-network network-circle-youtube"></div>
				<div ng-if="data.discussion_count === 1" class="additional-networks" ng-class="'network-circle-' + data.discussion_api"></div>
				<div ng-if="data.discussion_count > 1" class="additional-networks">+{{ data.discussion_count }} Comment Sources</div>
			</div>
		</div>
	</div>
	<div class="card-stats row">
		<div class="col-4">
			<b>Views</b>
			<span>{{:: data.content.views | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Likes</b>
			<span>{{:: data.content.likes | numsmall }}</span>
		</div>
		<div class="col-4">
			<b>Dislikes</b>
			<span>{{:: data.content.dislikes | numsmall }}</span>
		</div>
	</div>
</div>

<div class="yocards-message-container error-message" ng-class="err.api && 'youtube-message'" ng-if="data.content.$err" ng-init="err = data.content.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="err">
		<span ng-messages-include="templates/default_exceptions.html"></span>
	</span>
</div>
