<div class="video-top">
	<div class="video-image" style="background-image:url({{ ::card.image }});">
		<div class="youtube-video" ng-if="playing">
			<iframe width="100%" height="100%" ng-src="{{ 'https://www.youtube.com/embed/' + card.id + '?autoplay=1&donthovercards' | trustresourceurl }}" frameborder="0" allowfullscreen=""></iframe>
		</div>

	</div>
	<div class="video-cta" ng-click="playing=true; $event.stopPropagation();" ng-class="{ playing: playing }">
		<i class="md  md-play-arrow"></i>
	</div>
</div>

<div class="card-text">
	<div class="video-title">
	<b class="youtube-color"><i class="md md-access-time"></i> {{ ::card.date | date }}</b>
		<a href="https://www.youtube.com/watch?v={{ ::card.id }}" target="_blank" ng-click="$event.stopPropagation()">{{ ::card.name }}</a>
	</div>
	<div ng-show="card.toggled" ng-click="$event.stopPropagation()" ng-if="::card.description" class="slide-animation card-description">
		<div ng-show="card.toggled" class="fade-animation">
			<p readmore="::card.description | htmlify" style="max-height: 170px"></p>
		</div>
	</div>
</div>
<div class="card-stats row">
	<div class="col-4">
		<b>Views</b>
		<span>{{ ::card.views | numsmall }}</span>
	</div>
	<div class="col-4">
		<b>Likes</b>
		<span>{{ ::card.likes | numsmall }}</span>
	</div>
	<div class="col-4">
		<b>Dislikes</b>
		<span>{{ ::card.dislikes | numsmall }}</span>
	</div>
</div>

<span ng-init="card.actionable=true"></span>
