<div class="video-top">
	<div class="video-image" ng-style="::content.image && { 'background-image': 'url(' + content.image + ')' }">
		<div class="youtube-video" ng-if="playing">
			<iframe width="100%" height="100%" ng-src="{{ 'https://www.youtube.com/embed/' + content.id + '?autoplay=1&donthovercards' | trustresourceurl }}" frameborder="0" allowfullscreen="" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>

	</div>
	<div class="video-cta" ng-click="playing=true;" ng-class="{ playing: playing }">
		<i class="md  md-play-arrow"></i>
	</div>
</div>

<div class="card-text">
	<div class="video-title">
	<b class="youtube-color"><i class="md md-access-time"></i>{{ ::content.date | timeSince }}</b>
		<a href="https://www.youtube.com/watch?v={{ ::content.id }}" target="_blank" ng-click="$event.stopPropagation()">{{ ::content.name }}</a>
	</div>
	<div ng-if="::content.description" class="card-description">
		<p ng-bind-html=":: content.description | linky:'-blank'" readmore=":: content.description" style="max-height: 50px"></p>
	</div>
</div>
<div class="card-stats row">
	<div class="col-4">
		<b>Views</b>
		<span>{{ ::content.views | numsmall }}</span>
	</div>
	<div class="col-4">
		<b>Likes</b>
		<span>{{ ::content.likes | numsmall }}</span>
	</div>
	<div class="col-4">
		<b>Dislikes</b>
		<span>{{ ::content.dislikes | numsmall }}</span>
	</div>
</div>
<div class="percent-bar" ng-if="::content.likes + content.dislikes">
	<div class="percent-bar-good" ng-style="::(content.likes + content.dislikes) && { width: (100 * content.likes / (content.likes + content.dislikes)) + '%' }"></div>
</div>
