<div class="card bounce-in-animation" ng-if="loaded">
	<!--{{ card | json }}-->
	<div class="comment-top row">
		<div class="col-8">
			<span>Youtube Comments</span>
		</div>
		<div class="col-4">
			<span>342</span>
		</div>
	</div>
	<div class="comment-content">
		<div ng-repeat="comment in comments" class="comment row">
			<div class="comment-left col-3">
				<div class="comment-image" style="background-image:url('{{ comment.image }}')"></div>
			</div>
			<div class="comment-right col-9">
				<a>{{ comment.name }}</a>
				<p>{{ comment.content }}</p>
				<b class="youtube-color"><i class="md md-access-time"></i> {{ comment.date | date }}</b>
			</div>
		</div>
	</div>
</div>
