<div class="content-list youtube-content-list" ng-if="!data.moreContent.$err">
	<div ng-repeat="video in data.moreContent.content" ng-class="{ 'content-list-selected': video.id===entry.content.id }" class="content-list-link">
		<div class="row">
			<div class="col-4">
				<a ng-href="{{:: video | generateUrl }}">
					<img ng-src="{{:: video.image }}">
				</a>
			</div>
			<div class="col-8">
				<div class="col-10">
					<a ng-href="{{:: video | generateUrl }}" cutoff-height="40" readmore=":: video.name"></a>
				</div>
				<div class="col-2">
					<b>{{:: video.date | timeSince:true }}</b>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="yocards-message-container error-message" ng-class="data.moreContent.$err['api-specific'] && 'youtube-message'" ng-if="data.moreContent.$err">
	<div class="yocards-message-image"></div>
	<span class="yocards-message-text" ng-messages="data.moreContent.$err">
		<span ng-messages-include="templates/more_content_exceptions.html"></span>
	</span>
</div>
