<div class="comment-top row">
	<div class="col-8">
		<span>{{ ::discussion.type | copy}}</span>
	</div>
	<div class="col-4">
		<span>{{ ::discussion.count | numsmall }}</span>
	</div>
</div>
<div class="comment-content">
	<div ng-repeat="comment in discussion.comments" class="comment row">
		<div class="comment-left col-3">
			<a href="https://www.youtube.com/channel/{{ ::comment.channel.id }}" target="_blank">
				<div class="comment-image" ng-style="::comment.channel.image && { 'background-image': 'url(' + comment.channel.image + ')'}"></div>
			</a>
		</div>
		<div class="comment-right col-9">
			<a href="https://www.youtube.com/channel/{{ ::comment.channel.id }}" target="_blank">{{ ::comment.channel.name }}</a>
			<p readmore="::comment.description | htmlify" style="max-height: 170px"></p>
			<b class="youtube-color"><i class="md md-access-time"></i> {{ ::comment.date | date }}</b>
		</div>
	</div>
</div>
