<div class="card bounce-in-animation" ng-if="::comments">
	<div class="comment-top row">
		<div class="col-8">
			<span>Youtube Comments</span>
		</div>
		<div class="col-4">
			<span>342</span>
		</div>
	</div>
	<div class="comment-content">
		<div ng-repeat="comment in comments.comments" class="comment row">
			<div class="comment-left col-3">
                <div class="comment-image" content="youtube-user-v2" content-id="::comment.userId" result="user" ng-style="::user && { 'background-image': 'url(' + user.image + ')'}"></div>
			</div>
			<div class="comment-right col-9">
				<a>{{ ::comment.name }}</a>
				<p readmore="::comment.content | htmlify" style="max-height: 170px"></p>
				<b class="youtube-color"><i class="md md-access-time"></i> {{ ::comment.date | date }}</b>
			</div>
		</div>
	</div>
</div>
