.hovercard {
  all: initial; /* no important */
  align-items: flex-start;
  background: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px 0, rgba(0, 0, 0, 0.12) 0 2px 10px 0;
  box-sizing: border-box;
  justify-content: center;
  margin: 0;
  max-height: 600px;
  max-width: 500px;
  overflow: auto;
  position: absolute;
  z-index: 2147483647;

  &:empty {
    display: block;
  }

  /* FIXME @cameronrohani @cam GLOBAL STYLES ARE BAD */
  * {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-smooth: always;
  }

  *:before,
  *:after {
    display: none;
  }

  *,
  *:before,
  *:after {
    all: initial; /* no important */
    box-sizing: border-box;
  }

  div {
    display: block; /* no important */
  }

  a {
    text-decoration: none;
    color: black;
  }

}

.lock-document::-webkit-scrollbar {
  display: none;
}

.lock-body {
  overflow: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}
