*,
*:before,
*:after {
  box-sizing: border-box;
  box-sizing: -webkit-border-box;
  box-sizing: -moz-border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: 'hovercards-regular-font', serif;
  overflow-x: hidden;
  position: relative;
}

.row {
  overflow: auto;
}

/*.bluebg,
.orangebg,
.purplebg {
  background-image: url('../../assets/images/shapes.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bluebg {
  background-image: url('../../assets/images/shapes2.jpg');
}
.orangebg {
  background-image: url('../../assets/images/shapes3.jpg');
}*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
}

.col-1 {
  width: 8.333333333%;
}

.col-2 {
  width: 16.666666666%;
}

.col-3 {
  width: 24.999999999%;
}

.col-4 {
  width: 33.333333333%;
}

.col-5 {
  width: 41.666666666%;
}

.col-6 {
  width: 50.000000000%;
}

.col-7 {
  width: 58.333333333%;
}

.col-8 {
  width: 66.666666666%;
}

.col-9 {
  width: 74.999999999%;
}

.col-10 {
  width: 83.33333333%;
}

.col-11 {
  width: 91.66666666%;
}

.col-12 {
  width: 100.000000000%;
}

@font-face {
  font-family: 'avant-garde';
  src: url('../../assets/fonts/avant-garde.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/avant-garde.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/avant-garde.woff') format('woff'), url('../../assets/fonts/avant-garde.ttf') format('truetype');
}

@font-face {
  font-family: 'hovercards-regular-font';
  src: url('../../assets/fonts/NeuzeGroTReg.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/NeuzeGroTReg.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/NeuzeGroTReg.woff') format('woff'), url('../../assets/fonts/NeuzeGroTReg.svg') format('svg');
}

.row {
  height: 100vh;
  min-height: 600px;

  /*  max-height: 700px;
  max-width: 1280px;*/
  margin: auto;

  /*border-bottom: 1px solid rgba(0,0,0,.05)*/
}

.share-links {
  position: absolute;
  bottom: 60px;
  left: 54px;
  width: 100%;
}

.twittersharey {
  position: relative;
  top: 5px;
}

.row div.leftcol.col-4 {
  height: 100%;
  padding: 40px 54px;
  position: relative;
  background: white;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.circlelogo img {
  width: 4vw;
  position: relative;
  display: block;
}

.circlelogo {
  top: 60px;
  overflow: hidden;
  position: absolute;
}

.row div.col-8 {
  height: 100%;
  padding: 50px;
  right: 0;
  top: 0;
  position: fixed;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  transform: translateY(-80px) translateZ(0);
  transition: all .4s ease-in-out;
  opacity: 0;
}

.active-screen .row div.col-8 {
  position: fixed;
  opacity: 1;
  transform: translateY(0) translateZ(0);
}

.active-screen + .screen .row div.col-8 {
  transform: translate3d(0, 80px, 0);
}

.active-screen + .screen + .screen .row div.col-8 {
  display: none;
}

.image-holder {
}

b {
  display: block;
  color: #727272;
  margin-bottom: 12px;
}

b strong {
  font-size: 22px;
  position: relative;
  top: 3px;
  margin-left: 4px;
}

b a {
  color: #079eeb;
  text-decoration: underline;
}

h2 a {
  color: black;
  text-decoration: underline;
  font-weight: normal;
}

h2 a:hover {
  text-decoration: underline;
}

b a:hover {
  text-decoration: underline;
}

b img {
  width: 26px;
  top: 7px;
  position: relative;
  margin-left: 5px;
}

.row div.col-8 .blob {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100px;
}

.blue {

  /*background: #9cd6be;*/
  z-index: 2;
}

.blue b span {
  color: #4bba90;
}

.green b span {
  color: #89c2ac;
}

.blue.col-8 {
  background-size: cover;
  background-position: center;
}

.orange {

  /*background: #ffc774;*/
  background-size: cover;
  background-position: center;
  z-index: 4;
}

.orange b span {
  color: #ff944b;
}

.poop {
  position: absolute;
  top: 0;
}

img.chatbubble {
  position: absolute;
  transform: translate3d(20%, -30%, 0);
  -webkit-transform: translate3d(20%, -30%, 0);
  -moz-transform: translate3d(20%, -30%, 0);
  -ms-transform: translate3d(20%, -30%, 0);
  right: 0;
  top: 0;
  width: 33% !important;
}

.green {
  background: #9cd6be;
  background-size: cover;
  background-position: center;
  z-index: 3;
}

.green .image-holder {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.image-footer .image-footer-image-placeholder {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.image-footer .image-footer-image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.purple {
  z-index: 1;
}

.purple.col-8 {
  background-size: cover;
  background-position: center;
}

.yellow {

  /*background: #ffdead;*/
  background: #fff;
}

.row div.col-8 img {
  width: 100%;
  z-index: 1;
  display: block;
}

.image-holder {
  position: relative;
  -webkit-box-shadow: 0px 10px 68px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 68px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 68px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.orange .image-holder {
  box-shadow: inherit;
  overflow: visible;
}

.hide {
  opacity: 0;
}

.row div.col-8 img.shadowify,
.row div.col-8 img.shadowify2 {
  box-shadow: 0px 10px 68px 3px rgba(0, 0, 0, 0.1);
  width: calc(100% - 7%);
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
}

.row div.col-8 img.shadowify2 {
  left: inherit;
  top: inherit;
  right: 0;
  bottom: 0;
  box-shadow: 0px 10px 68px 3px rgba(0, 0, 0, 0.1);
}

.hovercard-slide3-1 img.shadowify2 {
}

.hovercard-slide3-3 img.shadowify2,
.hovercard-slide3-4 img.shadowify2 {
  z-index: 18 !important;
}

.absolute-cursor {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20 !important;
  transition: all .5s ease-in-out;
}

.hc1,
.hc2,
.hc3,
.hc4,
.sb1 {
  position: absolute;
  left: 0;
  width: 100% !important;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all .2s ease-in-out .2s;
}

.sb1 {
}

.hc1,
.hc2,
.hc4 {
  transform: translate3d(0, 30px, 0);
  -webkit-transform: translate3d(0, 30px, 0);
  -moz-transform: translate3d(0, 30px, 0);
  -o-transform: translate3d(0, 30px, 0);
}

.hc3,
.hc5 {
  transform: translate3d(0, -30px, 0);
  -webkit-transform: translate3d(0, -30px, 0);
  -moz-transform: translate3d(0, -30px, 0);
  -o-transform: translate3d(0, -30px, 0);
}

.hovercard-slide-2 .absolute-cursor {
  transform: translate3d(0, 21%, 0);
  -webkit-transform: translate3d(0, 21%, 0);
  -moz-transform: translate3d(0, 21%, 0);
  -o-transform: translate3d(0, 21%, 0);
}

.hovercard-slide-3 .absolute-cursor {
  transform: translate3d(0, 35%, 0);
  -webkit-transform: translate3d(0, 35%, 0);
  -moz-transform: translate3d(0, 35%, 0);
  -o-transform: translate3d(0, 35%, 0);
}

.hovercard-slide2-3 .hc5,
.hovercard-slide2-3 .sb1,
.hovercard-slide2-3 .sb1,
.hovercard-slide2-2 .sb1,
.hovercard-slide2-2 .hc4,
.hovercard-slide2-2 .hc1,
.hovercard-slide-1 .hc1,
.hovercard-slide-2 .hc2,
.hovercard-slide-3 .hc3,
.hovercard-slide-1 .hc3,
.hovercard-slide-3 .hc2,
.hovercard-slide-2 .hc1,
.hovercard-slide2-2 .hc5,
.hovercard-slide-1 .absolute-cursor {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}

.hovercard-slide-1 .hc1,
.hovercard-slide-2 .hc2,
.hovercard-slide-3 .hc3 {
  opacity: 1;
  transition: all .4s ease-in-out .8s;
}

.hovercard-slide2-1 .hc4 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transition: all .4s ease-in-out .8s;
}

.hovercard-slide2-2 .hc4 {
  opacity: 0;
  transition: all .3s ease-in-out 1s;
}

.hovercard-slide2-2 .sb1 {
  opacity: 1;
  transition: all .55s ease-in-out 1.2s;
}

.blue .hovercard-slide2-1 .absolute-cursor {
  transform: translate3d(-47%, 7%, 0);
  -webkit-transform: translate3d(-47%, 7%, 0);
  -moz-transform: translate3d(-47%, 7%, 0);
  -o-transform: translate3d(-47%, 7%, 0);
  transition: all .7s ease-in-out;
}

.orange .absolute-cursor,
.orange  .hovercard-slide3-4 .absolute-cursor {
  transform: translate3d(18%, -25%, 0);
  -webkit-transform: translate3d(18%, -25%, 0);
  -moz-transform: translate3d(18%, -25%, 0);
  -o-transform: translate3d(18%, -25%, 0);
  transition: all .3s ease-in-out;
  z-index: 150 !important;
}

.orange  .hovercard-slide3-2 .absolute-cursor,
.orange  .hovercard-slide3-3 .absolute-cursor {
  transform: translate3d(24%, -18%, 0);
  -webkit-transform: translate3d(24%, -18%, 0);
  -moz-transform: translate3d(24%, -18%, 0);
  -o-transform: translate3d(24%, -18%, 0);
}

.hovercard-slide2-2 .absolute-cursor {
  transform: translate3d(-38%, 14%, 0);
  -webkit-transform: translate3d(-38%, 14%, 0);
  -moz-transform: translate3d(-38%, 14%, 0);
  -o-transform: translate3d(-38%, 14%, 0);
  transition: all .4s ease-in-out;
}

.hovercard-slide2-3 .absolute-cursor {
  transform: translate3d(25%, -17%, 0);
  -webkit-transform: translate3d(25%, -17%, 0);
  -moz-transform: translate3d(25%, -17%, 0);
  -o-transform: translate3d(25%, -17%, 0);
  transition: all .8s ease-in-out .4s;
}

.hovercard-slide2-4 .absolute-cursor {
  transition: all .8s ease-in-out .4s;
}

.hovercard-slide2-3 .sb1 {
  opacity: 1;
}

.hovercard-slide2-4 .sb1 {
  opacity: 0;
  transition: all .4s ease-in-out .4s;
}

h1 {
  font-family: 'avant-garde';
  font-size: 2.5vw;
  line-height: 1.25;
  width: 100%;
  margin-bottom: 20px;
}

h2 {

  /*color: #727272;*/
  width: 100%;
  font-size: 1.35vw;
  line-height: 1.5;
  font-weight: 300;
}

.cta {
  font-size: 1.15vw;
}

.features p {

  /*color: #727272;*/
  line-height: 1.2;
  font-size: 17px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.screen {
  overflow: hidden;
}

.cta {
  display: inline-block;
  margin-top: 30px;
  color: #fff;
  padding: 3% 6%;
  text-transform: capitalize;
  font-weight: bold;
  background: #61b977;
  border-radius: 30px;
  transition: all .15s ease-in-out;
  cursor: pointer;
}

.orange.screen img {
  margin: auto;
}

.orange.screen .feature-container {
  max-width: 700px;
  margin: auto;
  width: 100%;
}

.orange.screen .feature-container .col-6 {
  padding: 16px;
}

.feature-image {
  background: white;
  min-height: 180px;
  border-radius: 14px 14px 0 0;
}

.feature-content {
  background: #f7f7f7;
  padding: 16px;
  text-align: center;
  -webkit-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 14px 14px;
  border-top: 1px solid rgba(0, 0, 0, .05);
}

.feature-content h3 {
  margin-bottom: 8px;
}

.feature-content p {
  color: #727272;
}

.cta img {
  height: 26px !important;
  width: 26px !important;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
  top: -1px !important;
}

.cta span {
  vertical-align: top;
  line-height: 26px;
}

.browser {
  width: 100%;
  max-width: 800px;
  max-height: 670px;
  height: 100%;
  position: relative;
}

.network-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
}

.scrolldown {
  position: absolute;
  bottom: 60px;
  left: 54px;
  width: 30px;
  height: 46px;
  border: 2px solid #727272;
  border-radius: 15px;
  font-size: 30px;
  color: #727272;
  text-align: center;
}

.scrolldown:hover {
  border: 2px solid black;
}

.scrolldown:hover .scrolldowninner {
  background: black;
}

.scrolldowninner {
  position: absolute;
  left: 50%;
  top: 9px;
  margin-left: -2px;
  width: 4px;
  height: 8px;
  background: #727272;
  border-radius: 2px;
  -webkit-animation: scrolldowninner 1.25s infinite linear;
  animation: scrolldowninner 1.25s infinite linear;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

@-webkit-keyframes scrolldowninner {
  0% {
    -webkit-transform: scaleY(.4)translateY(0);
    transform: scaleY(.4)translateY(0);
  }

  20% {
    -webkit-transform: scaleY(1)translateY(0);
    transform: scaleY(1)translateY(0);
  }

  60% {
    -webkit-transform: scaleY(.4)translateY(12px);
    transform: scaleY(.4)translateY(12px);
  }

  100% {
    -webkit-transform: scaleY(.4)translateY(0);
    transform: scaleY(.4)translateY(0);
  }
}

@keyframes scrolldowninner {
  0% {
    -webkit-transform: scaleY(.4)translateY(0);
    transform: scaleY(.4)translateY(0);
  }

  20% {
    -webkit-transform: scaleY(1)translateY(0);
    transform: scaleY(1)translateY(0);
  }

  60% {
    -webkit-transform: scaleY(.4)translateY(12px);
    transform: scaleY(.4)translateY(12px);
  }

  100% {
    -webkit-transform: scaleY(.4)translateY(0);
    transform: scaleY(.4)translateY(0);
  }
}

.georgetest2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.website-holder {
  position: relative;
  overflow: hidden;
}

.parallax-effect {
  width: 66.667%;
  height: 240%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background: url('../../assets/images/circles.svg');
  background-size: 120%;
  background-position: -40px -280px;
  background-repeat: repeat-y;
}

@media (min-width: 1280px) {
  /*  h1 {
    font-size: 32px
  }
  h2 {
    font-size: 17px;
  }*/
}

@media (max-width: 1280px) {
  .website {
    height: 100%;
  }

  .browser {
    height: 100%;
  }

  .row div.col-8 img {
    width: 100%;
  }
}

@media (max-width: 1120px) {
  .browser {
  }
}

@media (max-width: 1080px) {
  .browser {
  }
}

@media (max-width: 980px) {
  .active-screen .row div.col-8 {
    position: relative !important;
  }

  .parallax-effect {
    display: none !important;
  }

  body {
    background: #f6f6f6 !important;
  }

  .row div.col-8 {
    background: #f6f6f6;
    opacity: 1 !important;
  }

  h1 {
    font-size: 3.5vw;
    margin-top: 10px;
  }

  .purple b {
    margin-top: 30px;
  }

  h2 {
    font-size: 2.42vw;
  }

  .cta {
    font-size: 1.95vw;
  }

  .row {
    overflow: hidden;
    max-height: inherit;
    height: auto;
  }

  .browser {
    max-height: 100%;
  }

  .col-4 {
    min-height: auto;
  }

  .circlelogo {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    display: inline-block !important;
  }

  .scrolldown {
    display: none;
  }

  .row div.leftcol.col-4 img {
  }

  .row div.col-8,
  .row div.leftcol.col-4 {
    display: block;
    position: relative;
  }

  .row div.leftcol.col-4 {
  }

  .row div.col-8 {
    -moz-transform: translateY(0%) translateZ(0);
    -ms-transform: translateY(0%) translateZ(0);
    -webkit-transform: translateY(0%) translateZ(0);
    transform: translateY(0%) translateZ(0);
  }

  .col-4,
  .col-8 {
    width: 100%;
    position: relative;
  }

  .row {
    height: auto;
    min-height: 300px;
  }

  .row div.leftcol.col-4 {
    padding: 5%;
  }

  .row div.col-8 {
    padding: 5%;
    margin: 0;
  }

  .green .image-holder {
    position: relative;
  }

  .share-links {
    position: relative;
    top: 0;
    left: 0;
  }

  .row div.col-8 .shadowify2,
  .row div.col-8 .shadowify,
  .image-holder {
    box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.1) !important;
  }

  .orange .image-holder {
    box-shadow: inherit !important;
  }

  .circlelogo img {
    width: 48px;
  }
}

@media (max-width: 680px) {
  .scrolldown,
  .scrollup {
    display: none !important;
  }

  .share-links {
    margin-top: 20px;
  }

  h1 {
    font-size: 4.5vw;
    margin-bottom: 10px;
  }

  b {
    margin-bottom: 10px;
  }

  .purple b {
    margin-top: 20px;
  }

  h2 {
    font-size: 2.92vw;
  }

  .cta {
    font-size: 2.15vw;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 6.5vw;
  }

  h2 {
    font-size: 4.51vw;
  }
}

.hovercard-slide2-2 .animate-click {
  transform: translate3d(31.5%, 39%, 0);
  -webkit-transform: translate3d(31.5%, 39%, 0);
  -moz-transform: translate3d(31.5%, 39%, 0);
  -o-transform: translate3d(31.5%, 39%, 0);
}

.hovercard-slide3-2 .animate-click {
  transform: translate3d(94%, 8%, 0);
  -webkit-transform: translate3d(94%, 8%, 0);
  -moz-transform: translate3d(94%, 8%, 0);
  -o-transform: translate3d(94%, 8%, 0);
}

.hovercard-slide3-4 .animate-click {
  transform: translate3d(88%, 1%, 0);
  -webkit-transform: translate3d(88%, 1%, 0);
  -moz-transform: translate3d(88%, 1%, 0);
  -o-transform: translate3d(88%, 1%, 0);
}

.hovercard-slide2-4 .animate-click {
  transform: translate3d(94.5%, 9%, 0);
  -webkit-transform: translate3d(94.5%, 9%, 0);
  -moz-transform: translate3d(94.5%, 9%, 0);
  -o-transform: translate3d(94.5%, 9%, 0);
}

.animated-circle3,
.animated-circle4,
.animated-circle5,
.animated-circle {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.hovercard-slide3-2 .animated-circle4 {
  -ms-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  opacity: 0;
  transition: all .7s ease-in-out;
}

.hovercard-slide3-4 .animated-circle5 {
  -ms-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  opacity: 0;
  transition: all .7s ease-in-out;
}

.hovercard-slide2-2 .animated-circle {
  -ms-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  opacity: 0;
  transition: all .7s ease-in-out .6s;
}

.hovercard-slide2-4 .animated-circle3 {
  opacity: 0;
  -ms-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  margin-top: 3px;
  margin-left: -4px;
  transition: all .7s ease-in-out 0s;
}

.animate-click {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 2;
}

.orange .animate-click {
  z-index: 19;
}
